<loading *ngIf="loading"></loading> 
<div class="container">
	<div class="main">
		<div class="title">
			Manage Announcement
		</div>
		<p class="id-location">Home > Manage Announcement</p>
		<div class="row top-block">
			<div class="col-md-8">
				<div class="input-group filter-search">
					<input type="text" class="form-control input-search" (keyup.enter)="filter()" [(ngModel)]="titleFilter" placeholder="Search title" name="filter">
					<span (click)="filter()" class="input-group-btn">
						<button class="btn btn-secondary btn-search" type="button"><i class="fa fa-search fa-inverse" aria-hidden="true"></i></button>
					</span>
				</div>
			</div>
			<div class="col-md-4 pull-right">
				<button class="btn btn-add btn-default pull-right" (click)="add()">
					<img class="img-btn" src="../../assets/image/icon_announcement.png" width="15px" height="15px" />&nbsp;Make an Announcement</button>

			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<tabset>
					<tab heading="Draft">
						<p-dataTable [value]="announcementsDrafted" [rows]="10" [paginator]="true">
							<p-column [style]="{'width':'180px'}" field="title" header="Title" sortable="true">
								<template let-announcementsDrafted="rowData" pTemplate="body">
									<span>{{announcementsDrafted.title | capitalizeFirst}}</span>
								</template>
							</p-column>
							<p-column [style]="{'width':'200px'}" field="message" header="Message" sortable="true">
								<template let-announcementsDrafted="rowData" pTemplate="body">
									<span>{{announcementsDrafted.message | capitalizeFirst}}</span>
								</template>
							</p-column>
							<p-column [style]="{'width':'70px'}" field="sticky" header="Sticky" sortable="true">
								<template let-announcementsDrafted="rowData" pTemplate="body">
									<span>{{announcementsDrafted.sticky | capitalize}}</span>
								</template>
							</p-column>
							<p-column field="auto_post_date" header="Auto post on" sortable="true" filterPlaceholder="Search Date ">
								<template let-announcementsDrafted="rowData" pTemplate="body">
									<span *ngIf="announcementsDrafted.auto_post_on">{{announcementsDrafted.auto_post_on | date: 'd/M/y'}}</span>
									<span *ngIf="!announcementsDrafted.auto_post_on">-</span>
								</template>
							</p-column>
							<p-column header="Valid till" field="valid_till" sortable="true">
								<template let-announcementsDrafted="rowData" pTemplate="body">
									<span *ngIf="announcementsDrafted.valid_till">
										{{announcementsDrafted.valid_till | date: 'd/M/y'}}
									</span>
									<span *ngIf="!announcementsDrafted.valid_till">-</span>
								</template>
							</p-column>
							<p-column header="Created on" field="created_at" sortable="true">
								<template let-announcementsDrafted="rowData" pTemplate="body">
									<span>{{announcementsDrafted.created_at | date:'y/M/d'}}</span>
								</template>
							</p-column>
							<p-column [style]="{'width':'230px'}" header="Action" styleClass="col-button">
								<template class="pull-right" let-announcementsDrafted="rowData" pTemplate="body">
									<a type="button" style="cursor:pointer; margin-right: 15px; " (click)="editAnnouncement(announcementsDrafted)"><i class="fa fa-edit" aria-hidden="true"></i>&nbsp;<u>Edit</u></a>
									<button class="btn btn-brown btn-publish" style="cursor:pointer; margin-right:5px" (click)="openModal(announcementsDrafted) || firstModal.open()">Publish</button>
									<button type="button" class="btn btn-trash" (click)="deleteConfirmation(announcementsDrafted)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
								</template>
							</p-column>
						</p-dataTable>
					</tab>
					<tab heading="Published">
						<p-dataTable [value]="announcementsPublished" [rows]="10" [paginator]="true">
							<p-column [style]="{'width':'200px'}" field="title" header="Title" sortable="true" >
								<template let-announcementsPublished="rowData" pTemplate="body">
									<span>{{announcementsPublished.title| capitalizeFirst}}</span>
								</template>
							</p-column>
							<p-column [style]="{'width':'250px'}" field="message" header="Message" sortable="true" >
								<template let-announcementsPublished="rowData" pTemplate="body">
									<span>{{announcementsPublished.message | capitalizeFirst}}</span>
								</template>
							</p-column>
							<p-column [style]="{'width':'70px'}" field="sticky" header="Sticky" sortable="true">
								<template let-announcementsPublished="rowData" pTemplate="body">
									<span>{{announcementsPublished.sticky | capitalize}}</span>
								</template>
							</p-column>
							<p-column header="Valid till" field="valid_till" sortable="true">
								<template let-announcementsPublished="rowData" pTemplate="body">
									<span *ngIf="announcementsPublished.valid_till">{{announcementsPublished.valid_till | date: 'd/M/y'}}</span>
									<span *ngIf="!announcementsPublished.valid_till">-</span>
								</template>
							</p-column>
							<p-column header="Created on" field="created_at" sortable="true">
								<template let-announcementsPublished="rowData" pTemplate="body">
									<span>{{announcementsPublished.created_at | date:'y/M/d'}}</span>
								</template>
							</p-column>
							<p-column filterPlaceholder="Search Created by" header="Created by">
								<template let-announcementsPublished="rowData" pTemplate="body">
									<span>{{announcementsPublished.created_by.username | capitalize}}</span>
								</template>
							</p-column>
							<p-column [style]="{'width':'90px'}" header="Action" styleClass="col-button">
								<template class="pull-right" let-announcementsPublished="rowData" pTemplate="body">
									<button type="button" class="btn btn-trash" (click)="deleteConfirmation(announcementsPublished)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
								</template>
							</p-column>
						</p-dataTable>
					</tab>
				</tabset>
			</div>
		</div>

		<div class="row">

			<modal #firstModal>
				<modal-header>
					<h5>Publish Announcement</h5>
				</modal-header>
				<modal-content>

					<div *ngIf="announcement">


						<form name="form">
							<div class="form-group">
								<label class="control-label col-sm-4" for="sticky">Sticky :</label>
								<div class="col-sm-8">
									<div class="col-sm-2">
										<label>
											<input type="radio" name="sticky" [checked]="stickyStatus == 'yes'" [(ngModel)]="stickyStatus" value='yes'>Yes</label>
									</div>
									<div class="col-sm-2">
										<label>
											<input type="radio" name="sticky" [checked]="stickyStatus == 'no'" [(ngModel)]="stickyStatus" value='no'>No</label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label col-sm-4" for="valid_till">Valid till :</label>
								<div class="col-sm-8">
									<my-date-picker [options]="validTillDateOptions" [placeholder]="validTillDateTxt" [selDate]="valid_tillStatus" (dateChanged)="validTillDateChanged($event)"></my-date-picker>

								</div>
							</div><br><br><br>
							<div class="row no-margin pull-bottom-right">
								<button class="btn btn-primary btn-brown" (click)="publishAnnouncement()">Announce</button>
								<button class="btn btn-primary btn-gray" (click)="firstModal.close()">Cancel</button>
							</div>
						</form>
					</div>
				</modal-content>

			</modal>
		</div>
	</div>
</div>
