<loading *ngIf="loading"></loading> 
<section id="contract">
    <div class="container">
        <div class="main">
            <div *ngIf="contract">
                <div class="title">
                    {{contract.title}}
                </div>
                <p class="id-location">Home > Manage Projects > {{contract.title}}</p>
                <div class="row">
                    <div class="col-md-4">
                        <a class="link-box" style="text-decoration:underline;" (click)="back()">Back to last page</a>
                    </div>
                </div>
                <br/>
                <!--PROJECT DETAIL -->
                <div class="row no-margin" style="border-top: 10px">
                    <div class="row bg-dark no-margin">
                        <div class="col-md-6 col-padding">
                            <h5 style="color: #fff;">Project Details</h5>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-gray btn-tab-dark pull-right" style="width:199px" (click)="edit(contract._id)"><img class="img-btn" src="../../assets/image/icon_edit_black.png" />&nbsp;Edit Project</a>
                        </div>
                    </div>
                    <div class="row bg-grey no-margin">
                        <div class="col-md-6">
                            <h5><b>{{ contract.title }}</b></h5>
                        </div>
                    </div>
                    <div class="row no-margin" style="border: 1px solid grey">
                        <div class="row">
                            <div class="col-lg-7">
                                <p-galleria [images]="images" panelWidth="500" panelHeight="313"></p-galleria>
                            </div>
                            <div class="col-lg-5">
                                <div class="content">
                                    <div class="row">
                                        <div class="col-md-6 col-padding"><strong>Project Type :</strong></div>
                                        <div class="col-md-6 col-padding">{{ contract.contract_type }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-padding"><strong>Created on :</strong></div>
                                        <div class="col-md-6 col-padding">{{ contract.created_at | date:'d/M/y' }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-padding"><strong>Last updated on :</strong></div>
                                        <div class="col-md-6 col-padding">{{ contract.updated_at | date:'d/M/y' }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-padding"><strong>Linked incident report :</strong></div>
                                        <div class="col-md-6 col-padding">
                                            <span *ngIf="contract.reference_no == 'undefined'">-</span>
                                            <span *ngIf="contract.reference_no != 'undefined'"><a style="text-decoration: underline;cursor:pointer" (click)="viewIncident(contract.reference_id)">#{{ contract.reference_no }}</a></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-padding"><strong>Status :</strong></div>
                                        <div class="col-md-6 col-padding"><span class="{{ contract.status }}">{{ contract.status }}</span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-padding"><strong>Description of Project :</strong></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">{{ contract.remark }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <!--Contractor -->
                <div class="row no-margin" style="border-top: 10px">
                    <div class="row bg-dark no-margin" style="border-top: 10px">
                        <div class="col-md-6 col-padding">
                            <h5 style="color:#fff;">Contractor</h5>
                        </div>
                    </div>
                    <div class="row no-margin" style="border: 1px solid grey">
                        <div class="row">
                            <div class="col-md-12 col-padding">
                                <b style="margin-left:15px;">Find and quote a Contractor</b>
                                <a class="btn btn-gray btn-tab-dark pull-right" style="width:132px; height:35px; padding:10px; margin-right:15px;" ><b>View</b></a>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <!--Project Notice -->
                <div class="row no-margin" style="border-top: 10px">
                    <div class="row bg-dark  no-margin" style="border-top: 10px">
                        <div class="col-md-6 col-padding">
                            <h5 style="color:#fff;">Project Notice</h5>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-gray btn-tab-dark pull-right" (click)="add_notice(contract._id)"><img class="img-btn" src="../../assets/image/icon_edit_black.png" />&nbsp;Create Project Notice</a>
                        </div>
                    </div>
                    <div class="row no-margin" style="border: 1px solid grey;min-height: 100px">
                        <div *ngIf="!contractnotices" class="row">
                            <div class="col-md-12">
                                <div class="content text">
                                    <div style="text-align: center;">
                                        No Project Notice.
                                    </div>
                                    <div style="text-align: center;">
                                        <p>Create notice to inform the residents of the project</p>
                                    </div>
                                    <div style="text-align:center">
                                        <a class="btn btn-gray btn-tab-dark" style="width:205px; height:35px; padding: 8px;" (click)="add_notice(contract._id)"><b>Create Project Notice</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="contractnotices">
                            <p-dataTable [value]="contractnotices" [rows]="10" [paginator]="true" [responsive]="true">
                                <p-column filterMatchMode="contains" field="title" header="Title" sortable="true" [filter]="true" filterPlaceholder="Search title"></p-column>
                                <p-column filterMatchMode="contains" field="start_time" header="Commence date" sortable="true" [filter]="true" filterPlaceholder="Search commence date">
                                    <template let-data="rowData" pTemplate="body">
                                        {{data.start_time | date:'d/M/y'}}
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" field="end_time" [style]="{'width':'208px'}" header="Estimated date of completion" sortable="true" [filter]="true" filterPlaceholder="Search estimated date of completion">
                                    <template let-data="rowData" pTemplate="body">
                                        {{data.end_time | date:'d/M/y'}}
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" field="description" [style]="{'width':'141px'}" header="Project description" sortable="true" [filter]="true" filterPlaceholder="Search description"></p-column>
                                <p-column field="attachment" header="Attachment">
                                    <template let-data="rowData" pTemplate="body">
                                        <span *ngIf="data.attachment != null">Yes</span>
                                        <span *ngIf="data.attachment == null">No</span>
                                    </template>
                                </p-column>
                                <p-column header="Last Updated on" sortable="true" [filter]="true" filterPlaceholder="Search last updated on">
                                    <template let-data="rowData" pTemplate="body">
                                        <span *ngIf="data.updated_at != null">{{data.updated_at | date:'d/M/y'}}</span>
                                        <span *ngIf="data.updated_at == null">{{data.created_at | date:'d/M/y'}}</span>
                                    </template>
                                </p-column>
                                <p-column styleClass="col-button" header="Action">
                                    <template let-data="rowData" pTemplate="body">
                                        <button *ngIf="data.publish === false" class="btn btn-brown btn-publish" style="cursor:pointer; margin-right:5px" (click)="publish(data)">Publish</button>
                                        <a type="button" style="text-decoration: underline;cursor:pointer" (click)="viewNotice(contract._id,data)">View</a>
                                    </template>
                                </p-column>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
                <br/>
                <!--Contractor Visiting List -->
                <div class="row no-margin" style="border-top: 10px">
                    <div class="row bg-dark no-margin" style="border-top: 10px">
                        <div class="col-md-6 col-padding">
                            <h5 style="color:#fff">Contractor Visiting List</h5>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-gray btn-tab-dark pull-right" style="width:145px" ><img class="img-btn" src="../../assets/image/icon_edit_black.png" (click)="generateCode(unit)" />&nbsp;Create List</a>
                        </div>
                    </div>
                    <div class="row no-margin" style="border: 1px solid grey;min-height: 100px">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="content text">
                                    <div style="text-align: center;">
                                        No Contractor visit list yet.
                                    </div>
                                    <div style="text-align: center;">
                                        <p>Create a list to track the Contractor accessing the building</p>
                                    </div>
                                    <div style="text-align:center">
                                        <a class="btn btn-gray btn-tab-dark" style="width:205px; height:35px; padding: 8px;"><b>Create List</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <!--Project Note-->
                <div class="row no-margin" style="border-top: 10px">
                    <div class="row bg-dark no-margin" style="border-top: 10px">
                        <div class="col-md-6 col-padding">
                            <h5 style="color:#fff;">Project Note</h5>
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-gray btn-tab-dark pull-right" style="width:199px"  (click)="add_note(contract._id)"><img class="img-btn" src="../../assets/image/icon_edit_black.png" />&nbsp;Post Note</a>
                        </div>
                    </div>
                    <div class="row no-margin" style="border: 1px solid grey;min-height: 100px">
                        <div *ngIf="!contractnotes" class="row">
                            <div class="col-md-12">
                                <div class="content text">
                                    <div style="text-align: center;">
                                        No note created yet.
                                    </div>
                                    <div style="text-align: center;">
                                        <p>Use note to track project's progress</p>
                                    </div>
                                    <div style="text-align:center">
                                        <a class="btn btn-gray btn-tab-dark" style="width:132px; height:35px; padding: 8px;" (click)="add_note(contract._id)"><b>Post Note</b></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="contractnotes">
                            <p-dataTable [value]="contractnotes" [rows]="10" [paginator]="true" [responsive]="true">
                                <p-column filterMatchMode="contains" field="posted_by.username" header="Posted by" sortable="true" [filter]="true" filterPlaceholder="Search posted by"></p-column>
                                <p-column filterMatchMode="contains" field="posted_on" header="Posted on" sortable="true" [filter]="true" filterPlaceholder="Search posted on">
                                    <template let-data="rowData" pTemplate="body">
                                        {{data.posted_on | date:'d/M/y'}}
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" field="note_remark" header="Remarks" sortable="true" [filter]="true" filterPlaceholder="Search remark"></p-column>
                                <p-column field="attachment" header="Attachment">
                                    <template let-data="rowData" pTemplate="body">
                                        <span *ngIf="data.attachment != null">Yes</span>
                                        <span *ngIf="data.attachment == null">No</span>
                                    </template>
                                </p-column>
                                <p-column styleClass="col-button" header="Action">
                                    <template let-data="rowData" pTemplate="body">
                                        <a type="button" style="text-decoration: underline;cursor:pointer;margin-right: 10px" (click)="viewNote(contract._id, data)">View</a>
                                        <button type="button" (click)="deleteContractNoteConfirmation(data, contract._id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                                    </template>
                                </p-column>
                            </p-dataTable>
                        </div>
                    </div>
                </div>
                <br/>
            </div>
            <div *ngIf="!contract">
                <div class="title">
                    MANAGE PROJECTS
                </div>
                <p class="id-location">Home > Manage Projects</p>
                <div class="row top-block">
                    <div class="col-md-8">
                        <div class="input-group filter-search">
                            <input type="text" class="form-control input-search" (keyup.enter)="filter()" [(ngModel)]="dataFilter" placeholder="Search for projects..." name="filter">
                            <span (click)="filter()" class="input-group-btn">
                                <button class="btn btn-secondary btn-search" type="button"><i class="fa fa-search fa-inverse" aria-hidden="true"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-4 pull-right">
                        <a class="btn pull-right btn-add" style="padding: 10px 20px;" (click)="add()">
                            <i class="fa fa-plus" aria-hidden="true"> </i>&nbsp;Add Projects</a>
                    </div>
                </div>
                <section id="manage-project">
                <div (click)="$event.preventDefault()">
                    <tabset>
                        <!-- ALL -->
                        <tab heading="All">
                            <p-dataTable [value]="contracts" [rows]="10" [paginator]="true" [responsive]="true">
                                <p-column filterMatchMode="contains" [style]="{'width': '180px'}" field="title" header="Project Title" sortable="true" [filter]="true" filterPlaceholder="Search Project Title">
                                    <template let-contracts="rowData" pTemplate="body">
                                        <span>{{contracts.title | capitalizeFirst}}</span>
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" field="start_time" [style]="{'width': '120px'}" header="Commence on" sortable="true" [filter]="true" filterPlaceholder="Search Commence on">
                                    <template let-contracts="rowData" pTemplate="body">
                                        <span>{{contracts.start_time | date:'d/M/y'}}</span>
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" field="end_time" [style]="{'width': '165px'}" header="Estimated Completion" sortable="true" [filter]="true" filterPlaceholder="Search Estimated Completion">
                                    <template let-contracts="rowData" pTemplate="body">
                                        <span>{{contracts.end_time | date:'d/M/y'}}</span>
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" [style]="{'width': '155px'}" field="remark" header="Remarks" sortable="true" [filter]="true" filterPlaceholder="Search Remark">
                                    <!-- <template let-contracts="rowData" pTemplate="body">
                                        <span>{{contracts.remark | capitalize}}</span>
                                    </template> -->
                                </p-column>
                                <p-column filterMatchMode="contains" [style]="{'width': '112px'}" field="status" header="Status" sortable="true" [filter]="true" filterPlaceholder="Search Status">
                                    <template let-contracts="rowData" pTemplate="body">
                                        <span>{{contracts.status | capitalize}}</span>
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" field="updated_at" header="Created/Update" sortable="true" [filter]="true" filterPlaceholder="Search Issued on">
                                    <template let-contracts="rowData" pTemplate="body">
                                        <span style="font-size:10px">Created:{{contracts.created_at | date:'d/M/y'}}</span><br>
                                        <span style="font-size:10px">Latest:{{contracts.updated_at | date:'d/M/y'}}</span>
                                    </template>
                                </p-column>
                                <p-column styleClass="col-button" header="Action">
                                    <template let-contracts="rowData" pTemplate="body">
                                        <a type="button" style="cursor:pointer; text-decoration: underline;" (click)="view(contracts)">See Details</a>
                                        <button type="button" class="pull-right btn btn-trash" (click)="deleteContractConfirmation(contracts)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </template>
                                </p-column>
                            </p-dataTable>
                        </tab>
                        <!-- OPEN -->
                        <tab heading="Open">
                            <p-dataTable [value]="open" [rows]="10" [paginator]="true" [responsive]="true">
                                <p-column filterMatchMode="contains" [style]="{'width': '180px'}" field="title" header="Project Title" sortable="true" [filter]="true" filterPlaceholder="Search Project Title">
                                    <template let-open="rowData" pTemplate="body">
                                        <span>{{open.title | capitalize}}</span>
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" field="start_time" [style]="{'width': '120px'}" header="Commence on" sortable="true" [filter]="true" filterPlaceholder="Search Commence on">
                                    <template let-open="rowData" pTemplate="body">
                                        <span>{{open.start_time | date:'d/M/y'}}</span>
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" field="end_time" header="Estimated Completion" sortable="true" [style]="{'width': '165px'}" [filter]="true" filterPlaceholder="Search Estimated Completion">
                                    <template let-open="rowData" pTemplate="body">
                                        <span>{{open.end_time | date:'d/M/y'}}</span>
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" [style]="{'width': '155px'}" field="remark" header="Remarks" sortable="true" [filter]="true" filterPlaceholder="Search Remark">
                                    <!-- <template let-open="rowData" pTemplate="body">
                                        <span>{{open.remark | capitalize}}</span>
                                    </template> -->
                                </p-column>
                                <p-column filterMatchMode="contains" [style]="{'width': '112px'}" field="status" header="Status" sortable="true" [filter]="true" filterPlaceholder="Search Status">
                                    <template let-open="rowData" pTemplate="body">
                                        <span>{{open.status | capitalize}}</span>
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" field="updated_at" header="Created/Update" sortable="true" [filter]="true" filterPlaceholder="Search Issued on">
                                    <template let-open="rowData" pTemplate="body">
                                        <span style="font-size:10px">Created:{{open.created_at | date:'d/M/y'}}</span><br>
                                        <span style="font-size:10px">Latest:{{open.updated_at | date:'d/M/y'}}</span>
                                    </template>
                                </p-column>
                                <p-column styleClass="col-button" header="Action">
                                    <template let-open="rowData" pTemplate="body">
                                        <a type="button" style="cursor:pointer; text-decoration: underline;" (click)="view(open)">See Details</a>
                                        <button type="button" class="pull-right btn btn-trash" (click)="deleteContractConfirmation(open)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </template>
                                </p-column>
                            </p-dataTable>
                        </tab>
                        <!-- CLOSE -->
                        <tab heading="Closed">
                            <p-dataTable [value]="close" [rows]="10" [paginator]="true" [responsive]="true">
                                <p-column filterMatchMode="contains" [style]="{'width': '180px'}" field="title" header="Project Title" sortable="true" [filter]="true" filterPlaceholder="Search Project Title">
                                    <template let-close="rowData" pTemplate="body">
                                        <span>{{close.title | capitalize}}</span>
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" field="start_time" [style]="{'width': '120px'}" header="Commence on" sortable="true" [filter]="true" filterPlaceholder="Search Commence on">
                                    <template let-close="rowData" pTemplate="body">
                                        <span>{{close.start_time | date:'d/M/y'}}</span>
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" field="end_time" [style]="{'width': '165px'}" header="Estimated Completion" sortable="true" [filter]="true" filterPlaceholder="Search Estimated Completion">
                                    <template let-close="rowData" pTemplate="body">
                                        <span>{{close.end_time | date:'d/M/y'}}</span>
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" field="remark" [style]="{'width': '155px'}" header="Remarks" sortable="true" [filter]="true" filterPlaceholder="Search Remark">
                                    <!-- <template let-close="rowData" pTemplate="body">
                                        <span>{{close.remark | capitalize}}</span>
                                    </template> -->
                                </p-column>
                                <p-column filterMatchMode="contains" [style]="{'width': '112px'}" field="status" header="Status" sortable="true" [filter]="true" filterPlaceholder="Search Status">
                                    <template let-close="rowData" pTemplate="body">
                                        <span>{{close.status | capitalize}}</span>
                                    </template>
                                </p-column>
                                <p-column filterMatchMode="contains" field="updated_at" header="Created/Update" sortable="true" [filter]="true" filterPlaceholder="Search Issued on">
                                    <template let-close="rowData" pTemplate="body">
                                        <span style="font-size:10px">Created:{{close.created_at | date:'d/M/y'}}</span><br>
                                        <span style="font-size:10px">Latest:{{close.updated_at | date:'d/M/y'}}</span>
                                    </template>
                                </p-column>
                                <p-column styleClass="col-button" header="Action">
                                    <template let-close="rowData" pTemplate="body">
                                        <a type="button" style="cursor:pointer; text-decoration: underline;" (click)="view(close)">See Details</a>
                                        <button type="button" class="pull-right btn btn-trash" (click)="deleteContractConfirmation(close)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                    </template>
                                </p-column>
                            </p-dataTable>
                        </tab>
                    </tabset>
                </div>
                </section>
            </div>
        </div>
    </div>
</section>

