<loading *ngIf="loading"></loading> 
<section id="contact-directory">
    <div class="container">
        <div class="main">
            <div class="title">
                Contact Directory
            </div>
            <p class="id-location">Home > Contact Directory</p>

            <div class="row bg-dark no-margin">
                <div class="col-md-6 col-padding">
                    <h5 style="color:#fff;">Management & Emergency Numbers</h5>
                </div>
            </div>
            <div class="row no-margin" style="border: 1px solid grey; padding: 5px; border-bottom:0;">
                <div class="row col-padding">
                    <div class="col-md-5ths">
                        <b>Management Office</b>
                        <br>
                        <strong>+65 9993 5162</strong>
                    </div>
                    <div class="col-md-5ths">
                        <b>Security Office</b>
                        <br>
                        <strong>+65 1256 5257</strong>
                    </div>
                    <div class="col-md-5ths">
                        <b>Quick Fix</b>
                        <br>
                        <strong>+65 1234 4567</strong>
                    </div>
                    <div class="col-md-5ths">
                        <b>Police Hotline</b>
                        <br>
                        <strong>+65 3256 5257</strong>
                        <br>
                        <strong>999</strong>
                    </div>
                    <div class="col-md-5ths">
                        <b>Ambulance & Fire Service</b>
                        <br>
                        <strong>+65 9951 2345</strong>
                        <br>
                        <strong>995</strong>
                    </div>
                </div>
            </div>
            <div class="row no-margin" style="border: 1px solid grey; padding: 5px;">
                <div class="row content">
                    <div class="col-md-2 pull-right">
                        <a class="btn-underline pull-right link-box">Edit List</a>
                    </div>
                </div>
            </div>
            <br>

            <div class="row bg-dark no-margin">
                <div class="col-md-6 col-padding">
                    <h5 style="color:#fff;">Recommended Service Contact</h5>
                </div>
            </div>
            <div class="row no-margin" style="border: 1px solid grey; padding: 5px; border-bottom:0;">
                <div class="row content-column">
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                </div>
                <div class="row content-column">
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                </div>
                <div class="row content-column">
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>                
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                    <div class="col-md-2">
                        <span class="title-content">
                            <b>Service Title 1</b>
                            <br>General Service
                        </span>
                        <strong>
                            <p>
                            	<p-rating [ngModel]="4" readonly="true" stars="4" [cancel]="false"></p-rating>
                                <br> Tel: +659935162
                                <br> 21 depot Road
                                <br> Singapore 326365
                            </p>
                        </strong>
                    </div>
                </div>
            </div>
            <div class="row no-margin" style="border: 1px solid grey; padding: 5px;">
                <div class="row no-margin">
                    <div class="col-md-2 content-column pull-right">
                        <a class="btn-underline pull-right link-box">Edit List</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="row no-margin">
                <button class="btn btn-brown" style="width:100%">Browse all Service Contractors</button>
            </div>

        </div>
    </div>
</section>

