<loading *ngIf="loading"></loading> 
<section id="dashboard">
	<div class="container">
		<div class="main">
			<div class="title">
				Dashboard
			</div>
			<p class="id-location">Home > Dashboard</p>
			<div class="row">
				<!-- left main content -->
				<div class="col-md-7">
					<div class="field-box">
						<p>{{today | date:'fullDate'}}</p>
					</div>
					<ul class="no-bullet">
						<li>
							<div class="content-box">
								<div class="row margin-content">
									<div class="col-lg-2">
										<div class="img-content">
											<img [src]="menus1[0].img" class="img-responsive icon-dashboard" alt="" />
										</div>
									</div>
									<div class="col-lg-9">
										<div class="content-left">
											<strong>{{menus1[0].name}}</strong>
											<span *ngIf="unreadPetitionTotal > 0" class="badge">
												{{ unreadPetitionTotal}}
											</span>
											<br>
											<p>{{menus1[0].description}}</p>

											<img [src]="menus1[0].sub[1].img" class="img-responsive small-icon" alt="" />
											<a style="cursor: pointer;" (click)="start('/petition/add')" class="pull-left">{{ menus1[0].sub[1].name }}</a>
										</div>
									</div>
									<div class="col-lg-1" style="cursor: pointer;" (click)="start(menus1[0].sub[0].link)">
										<div class="arrow-box-left">
											<img src="../../assets/image/icon_arrowright_black.png" class="img-responsive arrow-box" alt="" />
										</div>
									</div>
								</div>
							</div>
						</li>

						<li>
							<div class="content-box">
								<div class="row margin-content">
									<div class="col-lg-2">
										<div class="img-content">
											<img [src]="menus1[1].img" class="img-responsive icon-dashboard" alt="" />
										</div>
									</div>
									<div class="col-lg-9">
										<div class="content-left">
											<strong>{{menus1[1].name}}</strong>
											<span *ngIf="unreadBookingTotal > 0" class="badge">
												{{ unreadBookingTotal}}
											</span>
											<br>
											<p>{{menus1[1].description}}</p>

											<img [src]="menus1[0].sub[1].img" class="img-responsive small-icon" alt="" />
											<a class="pull-left" style="cursor: pointer;" (click)="start('/booking/add')">Add Booking</a>
										</div>
									</div>
									<div class="col-lg-1"  style="cursor: pointer;" (click)="start(menus1[1].link)">
										<div class="arrow-box-left">
											<img src="../../assets/image/icon_arrowright_black.png" class="img-responsive arrow-box" alt="" />
										</div>
									</div>
								</div>
							</div>
						</li>

						<li>
							<div class="content-box">
								<div class="row margin-content">
									<div class="col-lg-2">
										<div class="img-content">
											<img [src]="menus1[2].img" class="img-responsive icon-dashboard" alt="" style="height:85px;" />
										</div>
									</div>
									<div class="col-lg-9">
										<div class="content-left">
											<strong>{{menus1[2].name}}</strong>
											<br>
											<p>{{menus1[2].description}}</p>
										</div>
									</div>
									<div class="col-lg-1 text-center" style="cursor: pointer;" (click)="start(menus1[2].link)">
										<div class="arrow-box-left">
											<img src="../../assets/image/icon_arrowright_black.png" class="img-responsive arrow-box" alt="" />
										</div>
									</div>
								</div>
							</div>
						</li>

						<li>
							<div class="content-box">
								<div class="row margin-content">
									<div class="col-lg-2">
										<div class="img-content">
											<img [src]="menus1[3].img" class="img-responsive icon-dashboard" alt="" />
										</div>
									</div>
									<div class="col-lg-9">
										<div class="content-left">
											<strong>{{menus1[3].name}}</strong>
											<br>
											<p>{{menus1[3].description}}</p>
										</div>
									</div>
									<div class="col-lg-1" style="cursor: pointer;" (click)="start(menus1[3].sub[0].link)">
										<div class="arrow-box-left">
											<img src="../../assets/image/icon_arrowright_black.png" class="img-responsive arrow-box" alt="" />
										</div>
									</div>
								</div>
							</div>
						</li>

						<li>
							<div class="content-box">
								<div class="row margin-content">
									<div class="col-lg-2">
										<div class="img-content">
											<img [src]="menus1[4].img" class="img-responsive icon-dashboard" alt="" style="width:85px;" />
										</div>
									</div>
									<div class="col-lg-9">
										<div class="content-left">
											<strong>{{menus1[4].name}}</strong>
											<br>
											<p>{{menus1[4].description}}</p>

											<img [src]="menus1[4].sub[0].img" class="img-responsive small-icon" alt="" />
											<a style="cursor: pointer;" (click)="start(menus1[4].sub[0].link)" class="pull-left">{{ menus1[4].sub[0].name }}</a>

											<img [src]="menus1[4].sub[2].img" class="img-responsive small-icon" alt="" />
											<a class="pull-left"  style="cursor: pointer;" (click)="start(menus1[4].sub[2].link)">{{ menus1[4].sub[2].name }}</a>
											<br>
											<img [src]="menus[1].sub[2].img" class="img-responsive small-icon" alt="" />
											<a class="pull-left"  style="cursor: pointer;" (click)="start(menus[1].sub[2].link)">{{ menus[1].sub[2].name }}</a>
										</div>
									</div>
									<div class="col-lg-1">
										<div class="arrow-box-left">
											<img src="../../assets/image/icon_arrowright_black.png" class="img-responsive arrow-box" alt="" />
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- left main content -->

				<!-- right content -->
				<div class="col-md-5">

					<!-- Operations content -->
					<div class="field-box">
						<p>Operations</p>
					</div>
					<ul class="no-bullet">
						<li *ngFor="let menu2 of menus2">
							<div class="content-box">
								<div class="row margin-content">
									<div class="col-lg-3">
										<div class="img-content">
											<img [src]="menu2.img" class="img-responsive icon-dashboard" alt="" style="height:65px;" />
										</div>
									</div>
									<div class="col-lg-8">
										<div class="content-right">
											<strong>{{ menu2.name}}</strong>
											<span *ngIf="menu2.link == '/incident' && menu2.notifTOtal > 0" class="badge">
												{{ menu2.notifTOtal}}
											</span>
											<br>
											<p>{{ menu2.description}}</p>
										</div>
									</div>
									<div class="col-lg-1"  style="cursor: pointer;" (click)="start(menu2.link)">
										<div class="arrow-box-right">
											<img src="../../assets/image/icon_arrowright_black.png" class="img-responsive arrow-box" alt="" />
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<!-- Operations content -->

					<!-- useful informations content -->
					<div class="field-box">
						<p>Useful Informations</p>
					</div>
					<ul class="no-bullet">
						<li>
							<div class="content-box">
								<div class="row margin-content">
									<div class="col-lg-3">
										<div class="img-content">
											<img [src]="menus3[0].img" class="img-responsive icon-dashboard" alt="" />
										</div>
									</div>
									<div class="col-lg-8">
										<div class="content-right">
											<strong>{{ menus3[0].name}}</strong>
											<br>
											<p>{{ menus3[0].description}}</p>
										</div>
									</div>
									<div class="col-lg-1" >
										<div class="arrow-box-right" style="cursor: pointer;" (click)="start(menus3[0].link)">
											<img src="../../assets/image/icon_arrowright_black.png" class="img-responsive arrow-box" alt="" />
										</div>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="content-box">
								<div class="row margin-content">
									<div class="col-lg-3">
										<div class="img-content">
											<img [src]="menus3[1].img" class="img-responsive icon-dashboard" alt="" />
										</div>
									</div>
									<div class="col-lg-8">
										<div class="content-right">
											<strong>{{ menus3[1].name}}</strong>
											<br>
											<p>{{ menus3[1].description}}</p>
										</div>
									</div>
									<div class="col-lg-1" style="cursor: pointer;" (click)="start(menus3[1].link)">
										<div class="arrow-box-right">
											<img src="../../assets/image/icon_arrowright_black.png" class="img-responsive arrow-box" alt="" />
										</div>
									</div>
								</div>
							</div>
						</li>
					</ul>
					<!-- useful informations content -->
				</div>
				<!-- right content -->

			</div>
		</div>
	</div>
</section>
