<loading *ngIf="loading"></loading> 
<div class="container">
    <div class="main">
        <div *ngIf="facility">
            <div class="title">
                Edit Facility
            </div>
            <p class="id-location">Home > Facility > Edit </p>
            <form [formGroup]="myForm" class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && updateFacility(myForm.value)" #f="ngForm" novalidate>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="username">Name :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="name" formControlName="name" required placeholder="Input name here" />
                        <small *ngIf="f.submitted && !myForm.controls.name.valid" class="text-danger">
                            Name is required
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="description">Description :</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="description" formControlName="description" placeholder="Input description here"></textarea>
                        <small *ngIf="f.submitted && !myForm.controls.description.valid" class="text-danger">
                            Description is required
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="payment_type">Payment type :</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="payment_type" id="payment_type" formControlName="payment_type" placeholder="Choose payment type">
                            <option value="cash">Cash</option>
                            <option value="transfer" selected>Transfer</option>
                        </select>
                        <small *ngIf="f.submitted && !myForm.controls.payment_type.valid" class="text-danger">
                            Payment type is required
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="booking_type">Booking type :</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="booking_type" id="booking_type" formControlName="booking_type" placeholder="Choose booking type">
                            <option value="hourly">Hourly</option>
                            <option value="daily" selected>Daily</option>
                        </select>
                        <small *ngIf="f.submitted && !myForm.controls.booking_type.valid" class="text-danger">
                            Booking type is required
                        </small> 
                    </div>  
                </div>
                <div formGroupName="fee">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="deposit_fee">Deposit Fee :</label>
                        <div class="col-sm-8">
                            <input type="text" (keypress)="number($event)" class="form-control" name="deposit" formControlName="deposit" required placeholder="Input deposit fee here" />
                            <small *ngIf="f.submitted && !myForm.controls.fee.controls.deposit.valid" class="text-danger">
                            Name is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="booking_fee">Booking Fee :</label>
                        <div class="col-sm-8">
                            <input type="text" (keypress)="number($event)" class="form-control" name="booking" formControlName="booking" required placeholder="Input booking fee here" />
                            <small *ngIf="f.submitted && !myForm.controls.fee.controls.booking.valid" class="text-danger">
                            Name is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="admin_fee">Admin Fee :</label>
                        <div class="col-sm-8">
                            <input type="text" (keypress)="number($event)" class="form-control" name="admin" formControlName="admin" required placeholder="Input admin fee here" />
                            <small *ngIf="f.submitted && !myForm.controls.fee.controls.admin.valid" class="text-danger">
                            Name is required
                            </small>
                        </div>
                    </div>
                </div>
                <div formGroupName="maintenance"> 
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="start_date">Maintenance Start :</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" name="start_date" formControlName="start_date" placeholder="Input maintenance start date here" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="end_date">Maintenance End :</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" name="end_date" formControlName="end_date" placeholder="Input maintenance end date here" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="status">Status :</label>
                    <div class="col-sm-8">
                        <select required class="form-control" formControlName="status" name="status" id="status" placeholder="Choose status">
                            <option value="available" selected>Available</option>
                            <option value="unavailable">Not Available</option>
                        </select>
                        <small *ngIf="f.submitted && !myForm.controls.status.valid" class="text-danger">
                            Status is required
                        </small>
                    </div>
                </div>
                <!--owned-->
                <div class="form-group">
                    <div formArrayName="schedule">
                        <div *ngFor="let schedule of myForm.controls.schedule.controls; let i=index" class="panel panel-default">
                            <div class="panel-heading">
                                <span>Schedule {{i + 1}}</span>
                                <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.schedule.controls.length > 1" (click)="removeSchedule(i)"></span>
                            </div>
                            <div class="panel-body" [formGroupName]="i">
                                <div class="form-group col-xs-12">
                                    <label>Day :</label>
                                    <div>
                                        <select class="form-control" name="day" (change)="getDay(myForm.value.schedule[i].day , i)" formControlName="day" placeholder="Choose day">
                                            <option *ngFor="let day of days[i].day" [ngValue]="day">{{day}}</option>
                                        </select>
                                        <small *ngIf="f.submitted && !myForm.controls.schedule.controls[i].controls.day.valid" class="text-danger">
                                            Day is required
                                        </small>
                                    </div>  
                                </div>
                                <div class="form-group col-sm-6" style="margin-right: 15px">
                                    <label>Start Time :</label>
                                    <select name="start" class="form-control" formControlName="start_time">
                                        <option *ngFor="let start of time" [ngValue]="start"><span *ngIf="start < 10">0</span>{{start}}</option>
                                    </select>
                                    <small *ngIf="f.submitted && !myForm.controls.schedule.controls[i].controls.start_time.valid" class="text-danger">
                                        Start time is required
                                    </small>
                                    <small *ngIf="f.submitted && myForm.value.schedule[i].start_time > myForm.value.schedule[i].end_time" class="text-danger">
                                        Start time must be earlier than the end time
                                    </small>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>End Time :</label>
                                    <select name="start" class="form-control" formControlName="end_time">
                                        <option *ngFor="let start of time" [ngValue]="start"><span *ngIf="start < 10">0</span>{{start}}</option>
                                    </select>
                                    <small *ngIf="f.submitted && !myForm.controls.schedule.controls[i].controls.end_time.valid" class="text-danger">
                                        End time is required
                                    </small>
                                    <small *ngIf="f.submitted && myForm.value.schedule[i].end_time < myForm.value.schedule[i].start_time" class="text-danger">
                                        End time must not earlier than the start time
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="schedule.length < 7" class="margin-20">
                            <a (click)="addSchedule()" style="cursor: default">
                                Add another Schedule +
                            </a>
                        </div> 
                    </div>
                </div>    
                <div class="form-group pull-right">
                    <button [disabled]="loading" class="btn btn-brown">Save</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button (click)="cancel()" class="btn btn-white">Cancel</button>
                </div>
            </form>
        </div>

    <!-- ADD USER -->

        <div *ngIf="!facility">
            <div class="title">
                Add Facility
            </div>
            <p class="id-location">Home > Facility > Add </p>
            <form [formGroup]="myForm" class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && createFacility(myForm.value)" #f="ngForm" novalidate>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="username">Name :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="name" formControlName="name" required placeholder="Input name here" />
                        <small *ngIf="f.submitted && !myForm.controls.name.valid" class="text-danger">
                            Name is required
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="description">Description :</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="description" formControlName="description" placeholder="Input description here"></textarea>
                        <small *ngIf="f.submitted && !myForm.controls.description.valid" class="text-danger">
                            Description is required
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="payment_type">Payment type :</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="payment_type" id="payment_type" formControlName="payment_type" placeholder="Choose payment type">
                            <option value="cash">Cash</option>
                            <option value="transfer" selected>Transfer</option>
                        </select>
                        <small *ngIf="f.submitted && !myForm.controls.payment_type.valid" class="text-danger">
                            Payment type is required
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="booking_type">Booking type :</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="booking_type" id="booking_type" formControlName="booking_type" placeholder="Choose booking type">
                            <option value="hourly">Hourly</option>
                            <option value="daily" selected>Daily</option>
                        </select>
                         <small *ngIf="f.submitted && !myForm.controls.booking_type.valid" class="text-danger">
                            Booking type is required
                        </small> 
                    </div>  
                </div>
                <div formGroupName="fee"> 
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="deposit">Deposit Fee :</label>
                        <div class="col-sm-8">
                            <input type="text" (keypress)="number($event)" class="form-control" name="deposit" formControlName="deposit" required placeholder="Input deposit fee here" />
                            <small *ngIf="f.submitted && !myForm.controls.fee.controls.deposit.valid" class="text-danger">
                            Name is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="booking">Booking Fee :</label>
                        <div class="col-sm-8">
                            <input type="text" (keypress)="number($event)" class="form-control" name="booking" formControlName="booking" required placeholder="Input booking fee here" />
                            <small *ngIf="f.submitted && !myForm.controls.fee.controls.booking.valid" class="text-danger">
                            Name is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="admin">Admin Fee :</label>
                        <div class="col-sm-8">
                            <input type="text" (keypress)="number($event)" class="form-control" name="admin" formControlName="admin" required placeholder="Input admin fee here" />
                            <small *ngIf="f.submitted && !myForm.controls.fee.controls.admin.valid" class="text-danger">
                            Name is required
                            </small>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="status">Status :</label>
                    <div class="col-sm-8">
                        <select required class="form-control" formControlName="status" name="status" id="status" placeholder="Choose status">
                            <option value="available" selected>Available</option>
                            <option value="unavailable">Not Available</option>
                        </select>
                        <small *ngIf="f.submitted && !myForm.controls.status.valid" class="text-danger">
                            Status is required
                        </small>
                    </div>
                </div>
                 <!--schedule-->
                <div class="form-group">
                    <div formArrayName="schedule">
                        <div *ngFor="let schedule of myForm.controls.schedule.controls; let i=index" class="panel panel-default">
                            <div class="panel-heading">
                                <span>Schedule {{i + 1}}</span>
                                <span class="glyphicon glyphicon-remove pull-right" *ngIf="myForm.controls.schedule.controls.length > 1" (click)="removeSchedule(i)"></span>
                            </div>
                            <div class="panel-body" [formGroupName]="i">
                                <div class="form-group col-xs-12">
                                    <label>Day :</label>
                                    <div>
                                        <select class="form-control" name="day" (change)="getDay(myForm.value.schedule[i].day , i)" formControlName="day" placeholder="Choose day">
                                            <option *ngFor="let day of days[i].day" [ngValue]="day">{{day}}</option>
                                        </select>
                                        <small *ngIf="f.submitted && !myForm.controls.schedule.controls[i].controls.day.valid" class="text-danger">
                                            Day is required
                                        </small>
                                    </div>  
                                </div>
                                <div class="form-group col-sm-6" style="margin-right: 15px">
                                    <label>Start Time :</label>
                                    <select name="start" class="form-control" formControlName="start_time">
                                        <option *ngFor="let start of time" [ngValue]="start"><span *ngIf="start < 10">0</span>{{start}}</option>
                                    </select>
                                    <small *ngIf="f.submitted && !myForm.controls.schedule.controls[i].controls.start_time.valid" class="text-danger">
                                        Start time is required
                                    </small>
                                    <small *ngIf="f.submitted && myForm.value.schedule[i].start_time > myForm.value.schedule[i].end_time" class="text-danger">
                                        Start time must be earlier than the end time
                                    </small>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label>End Time :</label>
                                    <select name="start" class="form-control" formControlName="end_time">
                                        <option *ngFor="let start of time" [ngValue]="start"><span *ngIf="start < 10">0</span>{{start}}</option>
                                    </select>
                                    <small *ngIf="f.submitted && !myForm.controls.schedule.controls[i].controls.end_time.valid" class="text-danger">
                                        End time is required
                                    </small>
                                    <small *ngIf="f.submitted && myForm.value.schedule[i].end_time < myForm.value.schedule[i].start_time" class="text-danger">
                                        End time must not earlier than the start time
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="schedule.length < 7" class="margin-20">
                            <a (click)="addSchedule()" style="cursor: default">
                                Add another Schedule +
                            </a>
                        </div> 
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button [disabled]="loading" class="btn btn-brown">Save</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button (click)="cancel()" class="btn btn-white">Cancel</button>
                </div>
            </form>       
        </div>
    </div>
</div>
