<loading *ngIf="loading"></loading> 
<div class="container">
    <div class="main">
        <div *ngIf="paymentreminder">
            <div class="title">EDIT PAYMENT REMINDER</div>
            <p class="id-location">Home > Payment reminder > Edit > {{paymentreminder.title}} </p>
            <form [formGroup]="myForm" class="form-horizontal" name="form" (ngSubmit)="myForm.valid && updatePaymentReminder(myForm.value)" #f="ngForm" novalidate>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="title">Title :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="title" formControlName="title" required placeholder="Input title here" />
                            <small *ngIf="f.submitted && !myForm.controls.title.valid" class="text-danger">
                                Title is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="reference_no">Reference no :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="reference_no" formControlName="reference_no" required placeholder="Input auto issue date here" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="auto_issue_on">Auto issue on :</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" name="auto_issue_on" formControlName="auto_issue_on" required placeholder="Input auto issue date here" />
                            <small *ngIf="f.submitted && !myForm.controls.auto_issue_on.valid" class="text-danger">
                                Auto issue is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="due_on">Due on :</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" name="due_on" formControlName="due_on" required placeholder="Input due date here" />
                            <small *ngIf="f.submitted && !myForm.controls.due_on.valid" class="text-danger">
                                Due on is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="message_to_receiver">Message to receiver :</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="message_to_receiver" formControlName="message_to_receiver" placeholder="Input message to receiver here"></textarea>
                            <small *ngIf="f.submitted && !myForm.controls.message_to_receiver.valid" class="text-danger">
                                Message is required
                            </small>
                        </div>
                    </div>
                </div>
                <!--owned-->
                <div class="col-md-10 form-group">
                    <div formArrayName="notification_list">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>Charge/Bill</span>
                                <span style="margin-left: 88px">Remarks</span>
                                <span style="margin-left: 250px">Applies to</span>
                                <span style="margin-left: 105px">Amount</span>
                            </div>
                            <div *ngFor="let owned of myForm.controls.notification_list.controls; let i=index" class="form-group">
                                <div class="panel-body" [formGroupName]="i">
                                    <div class="col-md-12">
                                    	<div style="width: 150px; float: left; margin-right: 10px;font-weight: bold">
                                    		<input class="form-control" type="text" formControlName="charge" required/>
                                    		<small *ngIf="f.submitted && !myForm.controls.notification_list.controls[i].controls.charge.valid" class="text-danger">
		                                        Charge/Bill is required
		                                    </small>
                                    	</div>
                                        <div style="width: 300px; float: left; margin-right: 10px" >
                                        	<input class="form-control" type="text" formControlName="remarks" required/>
                                        	<small *ngIf="f.submitted && !myForm.controls.notification_list.controls[i].controls.remarks.valid" class="text-danger">
		                                        Remark is required
		                                    </small>
                                        </div>
                                        <div style="width: 160px; float: left; margin-right: 10px">
                                        	<select class="form-control" formControlName="applies_to">
	                                            <option value="all">All</option>
	                                            <option value="resident with vehicle">Resident with vehicle</option>
	                                        </select>
	                                        <small *ngIf="f.submitted && !myForm.controls.notification_list.controls[i].controls.applies_to.valid" class="text-danger">
		                                        Applies to is required
		                                    </small>
                                        </div>
                                        <div style="width: 100px; float: left; margin-right: 5px">
                                        	<input (keypress)="number($event)" class="form-control" (change)="total(myForm.value.notification_list[i].amount)" type="text" formControlName="amount" />
                                        	<small *ngIf="f.submitted && !myForm.controls.notification_list.controls[i].controls.amount.valid" class="text-danger">
		                                        Amount is required
		                                    </small>
                                        </div>
                                        <span *ngIf="myForm.controls.notification_list.controls.length > 1" (click)="removeNotification_list(i)"><img src="../../assets/image/icon_close_black.png" width="10px" height="10px"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                            
                                <span style="margin-left: 610px"><b>Total: </b></span>
                                <span style="margin-left: 70px"><b>${{totalAmount}}</b></span>
                            </div>
                        </div>
                        <div class="margin-20">
                            <a (click)="addNotification_list()" style="cursor: pointer;"><button type="button" style="cursor: default" class="btn btn-trash"><img class="img-btn" src="../../assets/image/icon_add.png" /></button> Add Line</a>
                        </div>  
                    </div>    
                </div>
                <!--owned-->
                <div class="col-md-10 form-group">
                    <div class="form-group pull-right">
                        <button [disabled]="loading" class="btn btn-brown btn-primary">Save</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <button (click)="cancel()" class="btn btn-white">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
        <!-- ADD USER -->

        <div *ngIf="!paymentreminder">
            <div class="title">ADD PAYMENT REMINDER</div>
            <p class="id-location">Home > Payment reminder > Add </p>
            <form [formGroup]="myForm" class="form-horizontal" name="form" (ngSubmit)="myForm.valid && createPaymentReminder(myForm.value)" #f="ngForm" novalidate>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="title">Title :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="title" formControlName="title" required placeholder="Input title here" />
                            <small *ngIf="f.submitted && !myForm.controls.title.valid" class="text-danger">
                                Title is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="reference_no">Reference no :</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" name="reference_no" formControlName="reference_no" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="auto_issue_on">Auto issue on :</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" name="auto_issue_on" formControlName="auto_issue_on" required placeholder="Input auto issue date here" />
                            <small *ngIf="f.submitted && !myForm.controls.auto_issue_on.valid" class="text-danger">
                                Auto issue on is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="due_on">Due on :</label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control" name="due_on" formControlName="due_on" required placeholder="Input due date here" />
                            <small *ngIf="f.submitted && !myForm.controls.due_on.valid" class="text-danger">
                                Due on is required
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="message_to_receiver">Message to receiver :</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" name="message_to_receiver" formControlName="message_to_receiver" placeholder="Input message to receiver here"></textarea>
                            <small *ngIf="f.submitted && !myForm.controls.message_to_receiver.valid" class="text-danger">
                                Message is required
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 form-group">
                    <div formArrayName="notification_list">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <span>Charge/Bill</span>
                                <span style="margin-left: 88px">Remarks</span>
                                <span style="margin-left: 250px">Applies to</span>
                                <span style="margin-left: 105px">Amount</span>
                            </div>
                            <div *ngFor="let owned of myForm.controls.notification_list.controls; let i=index" class="form-group">
                                <div class="panel-body" [formGroupName]="i">
                                    <div class="col-md-12">
                                       <div style="width: 150px; float: left; margin-right: 10px;font-weight: bold">
                                    		<input class="form-control" type="text" formControlName="charge" required/>
                                    		<small *ngIf="f.submitted && !myForm.controls.notification_list.controls[i].controls.charge.valid" class="text-danger">
		                                        Charge/Bill is required
		                                    </small>
                                    	</div>
                                        <div style="width: 300px; float: left; margin-right: 10px" >
                                        	<input class="form-control" type="text" formControlName="remarks" required/>
                                        	<small *ngIf="f.submitted && !myForm.controls.notification_list.controls[i].controls.remarks.valid" class="text-danger">
		                                        Remark is required
		                                    </small>
                                        </div>
                                        <div style="width: 160px; float: left; margin-right: 10px">
                                        	<select class="form-control" formControlName="applies_to">
	                                            <option value="all">All</option>
	                                            <option value="resident with vehicle">Resident with vehicle</option>
	                                        </select>
	                                        <small *ngIf="f.submitted && !myForm.controls.notification_list.controls[i].controls.applies_to.valid" class="text-danger">
		                                        Applies to is required
		                                    </small>
                                        </div>
                                        <div style="width: 100px; float: left; margin-right: 5px">
                                        	<input (keypress)="number($event)" class="form-control" (change)="total(myForm.value.notification_list[i].amount)" type="text" formControlName="amount" />
                                        	<small *ngIf="f.submitted && !myForm.controls.notification_list.controls[i].controls.amount.valid" class="text-danger">
		                                        Amount is required
		                                    </small>
                                        </div>
                                        <span *ngIf="myForm.controls.notification_list.controls.length > 1" (click)="removeNotification_list(i)"><img src="../../assets/image/icon_close_black.png" width="10px" height="10px"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-footer">
                            
                                <span style="margin-left: 610px"><b>Total: </b></span>
                                <span style="margin-left: 70px"><b>${{totalAmount}}</b></span>
                            </div>
                        </div>
                        <div class="margin-20">
                            <a (click)="addNotification_list()" style="cursor: pointer;"><button type="button" style="cursor: default" class="btn btn-trash"><img class="img-btn" src="../../assets/image/icon_add.png" /></button> Add Line</a>
                        </div>  
                    </div>    
                </div>
                <!--owned-->
                <div class="col-md-10 form-group">
                    <div class="form-group pull-right">
                        <button [disabled]="loading" class="btn btn-brown btn-primary">Create</button>
                        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                        <button (click)="cancel()" class="btn btn-white">Cancel</button>
                    </div>
                </div>
            </form>       
        </div>
    </div>
</div>
