<loading *ngIf="loading"></loading> 
<div class="container">
    <div class="main">
        <div *ngIf="contract">
            <div class="title"> 
                UPDATE PROJECT
            </div>
            <p class="id-location">Home > Manage Project > {{contract.title}} > update </p>
            <form class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && updateContract()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
                     <label class="control-label col-sm-4" for="title">Project Title :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="title" [(ngModel)]="contract.title" #title="ngModel" required placeholder="Input project title here" />
                        <span *ngIf="f.submitted && !title.valid" class="help-block">Project title is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contract_type.valid }">
                    <label class="control-label col-sm-4" for="contract_type">Project Type :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="contract_type" [(ngModel)]="contract.contract_type" #contract_type="ngModel" required placeholder="input project type Here"/>
                        <span *ngIf="f.submitted && !contract_type.valid" class="help-block">Project type is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !remark.valid }">
                    <label class="control-label col-sm-4" for="remark">Project Description :</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="remark" [(ngModel)]="contract.remark" #remark="ngModel" required placeholder="Input remark here"></textarea>
                        <span *ngIf="f.submitted && !remark.valid" class="help-block">Description is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !start_time.valid }">
                    <label class="control-label col-sm-4" for="start_time">Commence date :</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" name="start_time" [(ngModel)]="contract.start_time" #start_time="ngModel" required />
                        <span *ngIf="f.submitted && !start_time.valid" class="help-block">Commence date is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !end_time.valid }">
                    <label class="control-label col-sm-4" for="end_time">Estimate date of completion :</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" name="end_time" [(ngModel)]="contract.end_time" #end_time="ngModel" required />
                        <span *ngIf="f.submitted && !end_time.valid" class="help-block">Estimate date of completion is required</span>
                    </div>
                </div>
                <div *ngIf="contract.reference_no == 'undefined'" class="form-group">
                    <label class="control-label col-sm-4" for="reference_no">Linked Incident Report :</label>
                    <div class="col-sm-8">
                        <input type="text" disabled class="form-control" name="reference_no" placeholder="-"/>
                    </div>
                </div>
                <div *ngIf="contract.reference_no != 'undefined'" class="form-group">
                    <label class="control-label col-sm-4" for="reference_no">Linked Incident Report :</label>
                    <div class="col-sm-8">
                        <input type="text" disabled class="form-control" name="reference_no" [(ngModel)]="contract.reference_no" #reference_no="ngModel" />
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': contract.attachment.length == 0 && f.submitted }">
                    <label class="control-label col-sm-4" for="attachment">Attachment :</label>
                    <div class="col-sm-8">
                        <input required type="file" multiple class="upload inputfile" name="attachment" id="file" (change)="updateOnChange($event)" />
                        <label class="btn btn-upload" for="file">Add Media</label>
                        <p *ngFor="let item of contract.attachment; let i=index ">
                            <img src="assets/image/icon_media_image.png" width="14px" height="12px">&nbsp;
                            <span style="text-decoration: underline;">{{ item.name }}_{{item.size/1024 | number:'1.0-0' }}kb</span> &nbsp;
                            <span style="cursor:pointer" (click)="updateRemove(i)"><img src="assets/image/icon_close_black.png" width="14px" height="12px"></span>
                        </p>
                        <small class="help-block" *ngIf="f.submitted && contract.attachment.length == 0">Attachment is required</small>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button [disabled]="loading" class="btn btn-primary btn-brown">Save Project</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button (click)="back(contract._id)" class="btn btn-info btn-white">Cancel</button>
                </div>
            </form>
        </div>
        <div *ngIf="!contract">
            <div class="title"> 
                CREATE PROJECT
            </div>
            <p class="id-location">Home > Manage Project > Create </p>
            <form class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && createContract()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !title.valid }">
                     <label class="control-label col-sm-4" for="title">Project Title :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="title" [(ngModel)]="model.title" #title="ngModel" required placeholder="Input project title here" />
                        <span *ngIf="f.submitted && !title.valid" class="help-block">Project title is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !contract_type.valid }">
                    <label class="control-label col-sm-4" for="contract_type">Project Type :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="contract_type" [(ngModel)]="model.contract_type" #contract_type="ngModel" required placeholder="input project type Here"/>
                        <span *ngIf="f.submitted && !contract_type.valid" class="help-block">Project type is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !remark.valid }">
                    <label class="control-label col-sm-4" for="remark">Project Description :</label>
                    <div class="col-sm-8">
                        <textarea class="form-control" name="remark" [(ngModel)]="model.remark" #remark="ngModel" required placeholder="Input remark here"></textarea>
                        <span *ngIf="f.submitted && !remark.valid" class="help-block">Description is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !start_time.valid }">
                    <label class="control-label col-sm-4" for="start_time">Commence date :</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" name="start_time" [(ngModel)]="model.start_time" #start_time="ngModel" required />
                        <span *ngIf="f.submitted && !start_time.valid" class="help-block">Commence date is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !end_time.valid }">
                    <label class="control-label col-sm-4" for="end_time">Estimate date of completion :</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" name="end_time" [(ngModel)]="model.end_time" #end_time="ngModel" required />
                        <span *ngIf="f.submitted && !end_time.valid" class="help-block">Estimate date of completion is required</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="reference_no">Linked Incident Report :</label>
                    <div class="col-sm-8">
                        <input type="text" disabled class="form-control" name="reference_no" [(ngModel)]="model.reference_no" #reference_no="ngModel" placeholder="-"/>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': model.attachment.length == 0 && f.submitted }">
                    <label class="control-label col-sm-4" for="attachment">Attachment :</label>
                    <div class="col-sm-8">
                        <input required type="file" multiple class="upload inputfile" name="attachment" id="file" (change)="onChange($event)" />
                        <label class="btn btn-upload" for="file">Add Media</label>
                        <p *ngFor="let item of model.attachment; let i=index ">
                            <img src="assets/image/icon_media_image.png" width="14px" height="12px">&nbsp;
                            <span style="text-decoration: underline;">{{ item.name }}_{{item.size/1024 | number:'1.0-0' }}kb</span> &nbsp;
                            <span style="cursor:pointer" (click)="remove(i)"><img src="assets/image/icon_close_black.png" width="14px" height="12px"></span>
                        </p>
                        <small class="help-block" *ngIf="f.submitted && model.attachment.length == 0">Attachment is required</small>
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button [disabled]="loading" class="btn btn-primary btn-brown">Create Project</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button (click)="cancel()" class="btn btn-info btn-white">Cancel</button>
                </div>
            </form>
        </div>	
	</div>
</div>
