<loading *ngIf="loading"></loading> 
<div class="container">
    <div class="main">
        <div *ngIf="contractor">
            <div class="title">
                Edit Contractor {{ contractor.username}}
            </div>
            <p class="id-location">Home > Contractor > Edit</p>
            <form class="form-horizontal col-md-6" (ngSubmit)="f.form.valid && updateContractor()" name="form" #f="ngForm" novalidate enctype="multipart/form-data">
                <div class="form-group" [ngClass]="{ 'has-error': !username.valid }">
                    <label class="control-label col-sm-4" for="username">Username :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="username" [(ngModel)]="contractor.username" #username="ngModel" required />
                        <span *ngIf="!username.valid" class="help-block">Username is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': !password.valid }">
                    <label class="control-label col-sm-4" for="password">Password :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="password" [(ngModel)]="contractor.password" #password="ngModel" required />
                        <span *ngIf="!password.valid" class="help-block">Password is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': !phone.valid }">
                    <label class="control-label col-sm-4" for="phone">Phone Number :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="phone" [(ngModel)]="contractor.phone" #phone="ngModel" required />
                        <span *ngIf="!phone.valid" class="help-block">Phone no is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': !email.valid }">
                    <label class="control-label col-sm-4" for="email">Email Number :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="email" [(ngModel)]="contractor.email" #email="ngModel" required />
                        <span *ngIf="!email.valid" class="help-block">Email is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': !street_name.valid }">
                    <label class="control-label col-sm-4" for="street_name">Street Name :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="street_name" [(ngModel)]="contractor.address.street_name" #street_name="ngModel" required />
                        <span *ngIf="!street_name.valid" class="help-block">Street name required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': !block_no.valid }">
                    <label class="control-label col-sm-4" for="block_no">Block No :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="block_no" [(ngModel)]="contractor.address.block_no" #block_no="ngModel" required />
                        <span *ngIf="!block_no.valid" class="help-block">Block no is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': !postal_code.valid }">
                    <label class="control-label col-sm-4" for="postal_code">Postal code :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="postal_code" [(ngModel)]="contractor.address.postal_code" #postal_code="ngModel" required />
                        <span *ngIf="!postal_code.valid" class="help-block">Postal code required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': !country.valid }">
                    <label class="control-label col-sm-4" for="country">Country :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="country" [(ngModel)]="contractor.address.country" #country="ngModel" required />
                        <span *ngIf="!country.valid" class="help-block">Country required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': !full_address.valid }">
                    <label class="control-label col-sm-4" for="full_address">Full address :</label>
                    <div class="col-sm-8">
                        <textarea type="text" class="form-control" name="full_address" [(ngModel)]="contractor.address.full_address" #full_address="ngModel" required ></textarea>
                        <span *ngIf="!full_address.valid" class="help-block">Full Address is required</span>
                    </div>
                </div>
                <div class="form-group" >
                    <label class="control-label col-sm-4" for="profile_picture">Profile picture :</label>
                    <div class="col-sm-8">
                        <input type="file" class="upload" name="profile_picture" (change)="onChange($event)" />
                          {{ contractor.profile_picture.name }}_{{contractor.profile_picture.size/1024 | number:'1.0-0' }}kb &nbsp;   
                          <span class="glyphicon glyphicon-remove" style="cursor:pointer" (click)="remove(i)"></span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': !description.valid }">
                    <label class="control-label col-sm-4" for="description">Description :</label>
                    <div class="col-sm-8">
                        <textarea type="text" class="form-control" name="description" [(ngModel)]="contractor.description" #description="ngModel" ></textarea>
                        <span *ngIf="!description.valid" class="help-block">Description is required</span>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !companyField }">
                    <label class="control-label col-sm-4" for="chief">Company :</label>
                    <div class="col-sm-8">
                          <div style="width: 300px; margin-bottom: 20px;">
                            <ng-select 
                                          [allowClear]="true"
                                          [items]="items"
                                          [disabled]="disabled"
                                          (data)="refreshValueCompany($event)"
                                          (selected)="selected($event)"
                                          (removed)="removed($event)"
                                          [active] = "[company]"
                                          placeholder="No company selected">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="position">Position :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="position" [(ngModel)]="contractor.position" #position="ngModel" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="role">Role :</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="role" [(ngModel)]="contractor.role" #role="ngModel" />
                    </div>
                </div>
                <div class="form-group">
                            <label class="control-label col-sm-4" for="active">Active</label>
                            <div class="col-sm-8">
                                  <label><input type="radio" [checked]="contractor.active" name="active" [(ngModel)]="contractor.active" [value]=true>Yes</label>
                                  <label><input type="radio" [checked]="!contractor.active" name="active" [(ngModel)]="contractor.active" [value]=false>No</label>
                        
                            </div>
                </div>
                <div class="form-group pull-right">
                    <button [disabled]="loading" class="btn btn-primary btn-brown">Save</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button [routerLink]="[user.default_development.name + '/contractor']" class="btn btn-white">Cancel</button>
                </div>
            </form>  
        </div>

        <div *ngIf="!contractor">
            <div class="title">
                Add a Contractor
            </div>    
            <p class="id-location">Home > Contractor > Add </p>
            <form class="form-horizontal col-md-6" name="form" [formGroup]="myForm" (ngSubmit)="createContractor(myForm.value, myForm.valid)" #f="ngForm" novalidate enctype="multipart/form-data">
                <div class="form-group" [ngClass]="{ 'has-error': submitted && !myForm.controls.username.valid }">
                    <label class="control-label col-sm-4" for="username">Username</label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" name="username" formControlName="username">
                        <small style="color: red" [hidden]="myForm.controls.username.valid || (myForm.controls.username.pristine && !submitted)">Username is required</small>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': submitted && !myForm.controls.password.valid}">
                    <label class="control-label col-sm-4" for="password">Password</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" name="password" formControlName="password">
                        <small style="color: red" [hidden]="myForm.controls.password.valid || (myForm.controls.password.pristine && !submitted)">Password is required</small>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': submitted && !myForm.controls.phone.valid}">
                    <label class="control-label col-sm-4" for="phone">Phone number</label>
                        <div class="col-sm-8">
                            <input type="number"  class="form-control" name="phone" formControlName="phone">
                            <small style="color: red" [hidden]="myForm.controls.phone.valid || (myForm.controls.phone.pristine && !submitted)">Phone number is required</small>
                        </div>
                </div>
                <div class="form-group" [ngClass]="{'has-error': submitted && !myForm.controls.email.valid}">
                    <label class="control-label col-sm-4" for="email">Email</label>
                        <div class="col-sm-8">
                            <input type="text"  class="form-control" name="email" formControlName="email">
                            <small style="color: red" [hidden]="myForm.controls.email.valid || (myForm.controls.email.pristine && !submitted)">Email is required</small>
                        </div>
                </div>
                <div class="form-group" formGroupName="address" [ngClass]="{ 'has-error': submitted && !myForm.controls.address.controls.street_name.valid }">
                    <label class="control-label col-sm-4" for="street_name">Street Name</label>
                    <div class="col-sm-8">
                        <input type="text"  class="form-control" name="street_name" formControlName="street_name">
                                <small style="color: red" [hidden]="myForm.controls.address.controls.street_name.valid || (myForm.controls.address.controls.street_name.pristine && !submitted)">Street name is required</small>
                    </div>
                </div>
                <div class="form-group" formGroupName="address" [ngClass]="{ 'has-error': submitted && !myForm.controls.address.controls.block_no.valid }">
                    <label class="control-label col-sm-4" for="block_no">Block Number</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="block_no" formControlName="block_no">
                            <small style="color: red" [hidden]="myForm.controls.address.controls.block_no.valid || (myForm.controls.address.controls.block_no.pristine && !submitted)">Block No is required</small>
                    </div>
                </div>
                <div class="form-group" formGroupName="address" [ngClass]="{ 'has-error': submitted && !myForm.controls.address.controls.postal_code.valid }">
                    <label class="control-label col-sm-4" for="postal_code">Postal Code</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" name="postal_code" formControlName="postal_code">
                            <small style="color: red" [hidden]="myForm.controls.address.controls.postal_code.valid || (myForm.controls.address.controls.postal_code.pristine && !submitted)">Postal code is required</small>
                    </div>
                </div>
                <div class="form-group" formGroupName="address" [ngClass]="{ 'has-error': submitted && !myForm.controls.address.controls.country.valid }">
                    <label class="control-label col-sm-4" for="country">Country</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" formControlName="country" name="country">
                                <small style="color: red" [hidden]="myForm.controls.address.controls.country.valid || (myForm.controls.address.controls.country.pristine && !submitted)">Country is required</small>
                        </div>
                </div>
                <div class="form-group" formGroupName="address" [ngClass]="{ 'has-error': submitted && !myForm.controls.address.controls.full_address.valid }">
                    <label class="control-label col-sm-4" for="full_address">Full Address</label>
                    <div class="col-sm-8">
                        <textarea  type="text" class="form-control" name="full_address" formControlName="full_address"></textarea>
                            <small style="color: red" [hidden]="myForm.controls.address.controls.full_address.valid || (myForm.controls.address.controls.full_address.pristine && !submitted)">Full address No is required</small>
                    </div>
                </div> 
                <div class="form-group" >
                    <label class="control-label col-sm-4" for="profile_picture">Profile Picture :</label>
                    <div class="col-sm-8">
                            <input type="file" multiple class="upload" name="profile_picture" (change)="onChange($event)" />
                                <p *ngFor="let item of model.profile_picture; let i=index ">
                                    <img src="assets/image/icon_media_image.png" width="14px" height="12px">&nbsp;  
                                    <span style="text-decoration: underline;">{{ item.name }}_{{item.size/1024 | number:'1.0-0' }}kb</span> &nbsp;   
                                    <span style="cursor:pointer" (click)="remove(i)"><img src="assets/image/icon_close_black.png" width="14px" height="12px"></span>
                                </p>
                    </div>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': submitted && !myForm.controls.description.valid }">
                    <label class="control-label col-sm-4" for="description">Description</label>
                    <div class="col-sm-8">
                            <textarea  type="text" class="form-control" name="description" formControlName="description"></textarea>
                                <small style="color: red" [hidden]="myForm.controls.description.valid || (myForm.controls.description.pristine && !submitted)">Desciption is required</small>
                    </div>
                </div>   
                <div class="form-group" >
                    <label class="control-label col-sm-4" for="chief">Company :</label>
                    <div class="col-sm-8">
                        <div style="width: 300px; margin-bottom: 20px;">
                            <ng-select 
                                            
                                              [allowClear]="true"
                                              [items]="items"
                                              [disabled]="disabled"
                                              (data)="refreshValueCompany($event)"
                                              (selected)="selected($event)"
                                              (removed)="removed($event)"
                                              placeholder="No Company selected">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="position">Position</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName="position" name="position">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="role">Role</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" formControlName="role" name="role">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-4" for="active">Active</label>
                    <div class="col-sm-8">
                        <label><input type="radio" [checked]="model.active==true" checked name="active" [(ngModel)]="model.active" [value]=true [ngModelOptions]="{standalone: true}">Yes</label>
                        <label><input type="radio" name="active" [(ngModel)]="model.active" [value]=false [ngModelOptions]="{standalone: true}">No</label>
                                
                    </div>
                </div>
                <div class="form-group pull-right">
                    <button [disabled]="loading" class="btn btn-primary btn-brown">Save</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <button [routerLink]="[user.default_development.name + '/contractor']" class="btn btn-white">Cancel</button>
                </div>
            </form>       
        </div>
    </div>
</div>
