<loading *ngIf="loading"></loading> 
<div class="container">
    <div class="main">
        <div class="title">
          Add Request
        </div>
        <p class="id-location">Home > Manage Request > Add</p>
        <form class="form-horizontal col-md-6" name="form" [formGroup]="myForm" #f="ngForm" novalidate enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="petition_type">Request Type :</label>
                        <div class="col-sm-8">
                            <select [ngClass]="{ 'form-control-blur': myForm.controls.petition_type.value =='' }" class="form-control select-pc" name="petition_type" id="petition_type" formControlName="petition_type" placeholder="Choose Petition Type">
                                <option disabled style="color:gray" value="" [selected]=true>Select request type</option>
                                <option value="maintenance" selected>Maintenance</option>
                                <option value="moving_in" >Moving In</option>
                                <option value="renovation" >Renovation</option>
                                <option value="add_tenant/family" >Add Tenant/Family</option>
                            </select>
                            <small style="color: red" [hidden]="myForm.controls.petition_type.valid || (myForm.controls.petition_type.pristine && !submitted)">Request type is required</small>
                        </div>  
                    </div>
                    <div class="form-group" >
                        <label class="control-label col-sm-4" for="chief">Unit No :</label>
                        <div class="col-sm-8">
                            <div>
                                <select [ngClass]="{ 'form-control-blur': myForm.controls.property.value =='' }" class="form-control" formControlName="property" name="property">
                                    <option style="color:#999" value="" disabled selected>Select unit no.</option>
                                    <option *ngFor="let u of units" [ngValue]="u._id">#{{u.address.unit_no}}-{{u.address.unit_no_2}}</option>
                                </select>
                                <small style="color: red" [hidden]="myForm.controls.property.valid || (myForm.controls.property.pristine && !submitted)">Unit no is required</small>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" >
                        <label class="control-label col-sm-4" for="attachment">Attachment :</label>
                        <div class="col-sm-8">
                            <input type="file" multiple class="upload" class="upload inputfile" id="file" name="attachment" (change)="onChange($event)" />
                            <label class="btn btn-upload" for="file">Add Media</label>
                            <p *ngFor="let item of model.attachment; let i=index ">
                                <img src="assets/image/icon_media_image.png" width="14px" height="12px">&nbsp;  
                                <span style="text-decoration: underline;">{{ item.name }}_{{item.size/1024 | number:'1.0-0' }}kb</span> &nbsp;   
                                <span style="cursor:pointer" (click)="remove(i)"><img src="assets/image/icon_close_black.png" width="14px" height="12px"></span>

                            </p>
                             <small style="color: red" [hidden]="model.attachment.length > 0 || (model.attachment.length == 0 && !submitted)">Attachment is required</small>
                        </div>
                    </div>

            <!-- <div class="form-group" [ngClass]="{'has-error': submitted && !myForm.controls.contract.valid}">
                <label class="control-label col-sm-4" for="contract">Contract :</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Input contract here" name="contract" formControlName="contract">
                    <small style="color: red" [hidden]="myForm.controls.contract.valid || (myForm.controls.contract.pristine && !submitted)">Contract is required</small>
                </div>
            </div> -->
            <div class="form-group" [ngClass]="{ 'has-error': submitted && !myForm.controls.remark.valid }">
                <label class="control-label col-sm-4" for="remark">Remark :</label>
                <div class="col-sm-8">
                    <textarea type="text" class="form-control" placeholder="Input remark here" name="remark" formControlName="remark"></textarea>
                    <small style="color: red" [hidden]="myForm.controls.remark.valid || (myForm.controls.remark.pristine && !submitted)">Remark is required</small>
                </div>
            </div>

            <div class="form-group pull-right">
                <button [disabled]="loading" (click)="createPetition(myForm.value, myForm.valid)" class="btn btn-primary btn-brown">Save</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
                />
                <button (click)="goToPetition()" class="btn btn-white">Cancel</button>
            </div>
        </form>
    </div>
</div>
