<loading *ngIf="loading"></loading> 
<div class="container">
	<div class="main">
		<div *ngIf="lostFound && !buttonViewArchive">
			<div class="title">
				{{lostFound.type}} #{{lostFound.serial_number}}
			</div>
			<p class="id-location">Home > Manage Lost & Founds > #{{lostFound.serial_number}}</p>
			<a class="btn-underline" (click)="goToLostFound()">Back to last page</a>
			<div class="row">
				<div class="col-lg-7">
					<p-galleria [images]="images" panelWidth="500" panelHeight="313"></p-galleria>
				</div>
				<div class="col-lg-5">
					<div class="content">
						<div class="row">
							<div class="col-md-6 col-padding"><b>Reported by :</b></div>
							<div class="col-md-6 col-padding"> {{ lostFound.created_by.username | capitalize}}</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-padding"><b>Type :</b></div>
							<div class="col-md-6 col-padding">{{ lostFound.type | capitalize}}</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-padding"><b>Report time :</b></div>
							<div class="col-md-6 col-padding">{{ lostFound.created_at | date:'fullDate'}}</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-padding"><b>Description :</b></div>
							<div class="col-md-6 col-padding">{{ lostFound.description | capitalize}}</div>
						</div>
						<div class="row">
							<div class="col-md-6 col-padding"><b>Preferred method of contact :</b></div>
							<div class="col-md-6 col-padding">{{ lostFound.preferred_method_of_contact | capitalize}}</div>
						</div>
						<div class="row" *ngIf="lostFound.archieve">
							<div class="col-md-6 col-padding"><b>Status :</b></div>
							<div class="col-md-6 col-padding">Archived</div>
						</div>
						<div class="row" *ngIf="!lostFound.archieve">
							<div class="col-md-6 col-padding"><b>Actions :</b></div>
						</div>
						<br>
						<div class="row" *ngIf="!lostFound.archieve">
							<div class="col-md-12">
								<span *ngIf="!lostFound.archieved"><a class="btn btn-gray btn-primary" (click)="archieveConfirmation(lostFound)" style="cursor:pointer"><img src="assets/image/icon_archived.png" width="14px" height="12px">&nbsp;Archive Report</a></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div *ngIf="!lostFound && !buttonViewArchive">
			<div class="title">
				Manage Lost & Found
			</div>
			<p class="id-location">Home > Manage Lost & Found</p>
			<div class="row top-block">
				<div class="col-md-4 no-padding">
					<div class="col-md-12">
						<div class="input-group filter-search">
							<input type="text" class="form-control input-search" (keyup.enter)="filter()" [(ngModel)]="filterField" placeholder="Search" name="filter">
							<span (click)="filter()" class="input-group-btn">
								<button class="btn btn-secondary btn-search" type="button"><i class="fa fa-search fa-inverse" aria-hidden="true"></i></button>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 pull-right">
					<a class="btn btn-default btn-gray pull-right" style="margin-right:0;" (click)="viewArchieved()">
						<img class="img-btn" src="../../assets/image/icon_archived.png" />&nbsp;View Archived
					</a>
					<a class="btn btn-default pull-right btn-gray" (click)="add()">
						<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Report</a>
				</div>
			</div>
			<div  class="row" (click)="$event.preventDefault()">
				<div class="col-md-12">
					<tabset>
						<tab heading="All">
							<p-dataTable [value]="all" [rows]="10" [paginator]="true">
								<p-column field="serial_number" header="S/N" >
									<template let-all="rowData" pTemplate="body">
										<span>#{{all.serial_number}}</span>
									</template>
								</p-column>
								<p-column header="Made by">
									<template let-all="rowData" pTemplate="body">
										<span>{{all.created_by.username | capitalize}}</span>
									</template>
								</p-column>
								<p-column field="unit_no" header="Unit.no"></p-column>
								<p-column header="Type" field="type" sortable="true">
									<template let-all="rowData" pTemplate="body">
										<span>{{all.type | capitalize}}</span>
									</template>
								</p-column>
								<p-column field="description" header="Description"></p-column>
								<p-column header="Photo">
									<template let-all="rowData" pTemplate="body">
										<span *ngIf="all.photo">Yes</span>
										<span *ngIf="!all.photo">No</span>
									</template>
								</p-column>
								<p-column header="Preferred method of contact" field="preferred_method_of_contact" sortable="true">
									<template let-all="rowData" pTemplate="body">
										<span>{{all.preferred_method_of_contact | capitalize}}</span>
									</template>
								</p-column>
								<p-column header="Reported on" field="created_at" sortable="true">
									<template let-all="rowData" pTemplate="body">
										<span>{{all.created_at | date:'d/M/y'}}</span>
									</template>
								</p-column>
								<p-column header="Actions" styleClass="col-button">
									<template let-all="rowData" class="pull-right" pTemplate="body">
										<a type="button" class="btn-underline" (click)="viewLostFound(all)">View</a>
										<img title="archived" style="cursor:pointer" src="../../assets/image/icon_archived.png"  (click)="archieveConfirmation(all)"/>
									</template>
								</p-column>
							</p-dataTable>
						</tab>
						<tab heading="Lost">
							<p-dataTable [value]="losts" [rows]="10" [paginator]="true">
								<p-column field="serial_number" header="S/N" >
									<template let-losts="rowData" pTemplate="body">
										<span>#{{losts.serial_number}}</span>
									</template>
								</p-column>
								<p-column header="Made by">
									<template let-losts="rowData" pTemplate="body">
										<span>{{losts.created_by.username | capitalize}}</span>
									</template>
								</p-column>
								<p-column field="unit_no" header="Unit.no"></p-column>
								<p-column header="Type" field="type" sortable="true">
									<template let-losts="rowData" pTemplate="body">
										<span style="text-transform: initial">{{losts.type | capitalize}}</span>
									</template>
								</p-column>
								<p-column field="description" header="Description"></p-column>
								<p-column header="Photo">
									<template let-losts="rowData" pTemplate="body">
										<span *ngIf="losts.photo">Yes</span>
										<span *ngIf="!losts.photo">No</span>
									</template>
								</p-column>
								<p-column header="Preferred method of contact" field="preferred_method_of_contact" sortable="true">
									<template let-losts="rowData" pTemplate="body">
										<span>{{losts.preferred_method_of_contact | capitalize}}</span>
									</template>
								</p-column>
								<p-column header="Reported on" field="created_at" sortable="true">
									<template let-losts="rowData" pTemplate="body">
										<span>{{losts.created_at | date:'d/M/y'}}</span>
									</template>
								</p-column>
								<p-column header="Actions" styleClass="col-button">
									<template let-losts="rowData" class="pull-right" pTemplate="body">
										<a type="button" class="btn-underline" style="cursor:pointer; margin: 0 25px 0 5px;"  (click)="viewLostFound(losts)">View</a>
										<img title="archived" style="cursor:pointer" src="../../assets/image/icon_archived.png" (click)="archieveConfirmation(losts)"/>
									</template>
								</p-column>
							</p-dataTable>
						</tab>
						<tab heading="Found">
							<p-dataTable [value]="founds" [rows]="10" [paginator]="true">
								<p-column field="serial_number" header="S/N" >
									<template let-founds="rowData" pTemplate="body">
										<span>#{{founds.serial_number}}</span>
									</template>
								</p-column>
								<p-column header="Made by">
									<template let-founds="rowData" pTemplate="body">
										<span>{{founds.created_by.username | capitalize}}</span>
									</template>
								</p-column>
								<p-column field="unit_no" header="Unit.no"></p-column>
								<p-column header="Type" field="type" sortable="true">
									<template let-founds="rowData" pTemplate="body">
										<span>{{founds.type | capitalize}}</span>
									</template>
								</p-column>
								<p-column field="description" header="Description"></p-column>
								<p-column header="Photo">
									<template let-founds="rowData" pTemplate="body">
										<span *ngIf="founds.photo">Yes</span>
										<span *ngIf="!founds.photo">No</span>
									</template>
								</p-column>
								<p-column header="Preferred method of contact" field="preferred_method_of_contact" sortable="true">
									<template let-founds="rowData" pTemplate="body">
										<span>{{founds.preferred_method_of_contact | capitalize}}</span>
									</template>
								</p-column>
								<p-column header="Reported on" field="created_at" sortable="true">
									<template let-founds="rowData" pTemplate="body">
										<span>{{founds.created_at | date:'d/M/y'}}</span>
									</template>
								</p-column>
								<p-column header="Actions" styleClass="col-button">
									<template let-founds="rowData" class="pull-right" pTemplate="body">
										<a type="button" class="btn-underline" style="cursor:pointer; margin: 0 25px 0 5px;" (click)="viewLostFound(founds)">View</a>
										<img title="archived"  style="cursor:pointer" src="../../assets/image/icon_archived.png" (click)="archieveConfirmation(founds)"/>
									</template>
								</p-column>
							</p-dataTable>
						</tab>
					</tabset>
				</div>
			</div>
		</div>

		<div *ngIf="!lostFound && buttonViewArchive">
			<div class="title">
				Manage Archieved Lost & Found
			</div>
			<p class="id-location">Home > Manage Lost & Found > Archieved</p>
			<div class="row top-block">
				<div class="col-md-4 no-padding">
					<div class="col-md-12">
						<div class="input-group filter-search">
							<input type="text" class="form-control input-search" (keyup.enter)="filterArchieved()" [(ngModel)]="filterField" placeholder="Search" name="filter">
							<span (click)="filterArchieved()" class="input-group-btn">
								<button class="btn btn-secondary btn-search" type="button"><i class="fa fa-search fa-inverse" aria-hidden="true"></i></button>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-4 pull-right">
					<a class="btn btn-default btn-gray pull-right" (click)="viewUnarchieved()">View Unarchived
					</a>
					<a class="btn btn-default pull-right btn-gray" (click)="add()">
						<i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add Report</a>

				</div>
			</div>
			<div class="row" (click)="$event.preventDefault()">
				<div class="col-md-12">
					<tabset>
						<tab heading="All">
							<p-dataTable [value]="archieveds" [rows]="10" [paginator]="true">
								<p-column field="serial_number" header="S/N" >
									<template let-archieveds="rowData" pTemplate="body">
										<span>#{{archieveds.serial_number}}</span>
									</template>
								</p-column>
								<p-column header="Made by">
									<template let-archieveds="rowData" pTemplate="body">
										<span>{{archieveds.created_by.username | capitalize}}</span>
									</template>
								</p-column>
								<p-column field="unit_no" header="Unit.no"></p-column>
								<p-column header="Type" field="type" sortable="true">
									<template let-archieveds="rowData" pTemplate="body">
										<span>{{archieveds.type | capitalize}}</span>
									</template>
								</p-column>
								<p-column field="description" header="Description"></p-column>
								<p-column header="Photo">
									<template let-archieveds="rowData" pTemplate="body">
										<span *ngIf="archieveds.photo">Yes</span>
										<span *ngIf="!archieveds.photo">No</span>
									</template>
								</p-column>
								<p-column header="Preferred method of contact" field="preferred_method_of_contact" sortable="true">
									<template let-archieveds="rowData" pTemplate="body">
										<span>{{archieveds.preferred_method_of_contact | capitalize}}</span>
									</template>
								</p-column>
								<p-column header="Reported on" field="created_at" sortable="true">
									<template let-archieveds="rowData" pTemplate="body">
										<span>{{archieveds.created_at | date:'d/M/y'}}</span>
									</template>
								</p-column>
								<p-column header="Actions" styleClass="col-button">
									<template let-archieveds="rowData" class="pull-right" pTemplate="body">
										<a type="button" class="btn-underline" (click)="viewLostFound(archieveds)">View</a>
									</template>
								</p-column>
							</p-dataTable>
						</tab>
						<tab heading="Lost">
							<p-dataTable [value]="archievedLosts" [rows]="10" [paginator]="true">
								<p-column field="serial_number" header="S/N" >
									<template let-archievedLosts="rowData" pTemplate="body">
										<span>#{{archievedLosts.serial_number}}</span>
									</template>
								</p-column>
								<p-column header="Made by">
									<template let-archievedLosts="rowData" pTemplate="body">
										<span>{{archievedLosts.created_by.username | capitalize}}</span>
									</template>
								</p-column>
								<p-column field="unit_no" header="Unit.no"></p-column>
								<p-column header="Type" field="type" sortable="true">
									<template let-archievedLosts="rowData" pTemplate="body">
										<span>{{archievedLosts.type | capitalize}}</span>
									</template>
								</p-column>
								<p-column field="description" header="Description"></p-column>
								<p-column header="Photo">
									<template let-archievedLosts="rowData" pTemplate="body">
										<span *ngIf="archievedLosts.photo">Yes</span>
										<span *ngIf="!archievedLosts.photo">No</span>
									</template>
								</p-column>
								<p-column header="Preferred method of contact" field="preferred_method_of_contact" sortable="true">
									<template let-archievedLosts="rowData" pTemplate="body">
										<span>{{archievedLosts.preferred_method_of_contact | capitalize}}</span>
									</template>
								</p-column>
								<p-column header="Reported on" field="created_at" sortable="true">
									<template let-archievedLosts="rowData" pTemplate="body">
										<span>{{archievedLosts.created_at | date:'d/M/y'}}</span>
									</template>
								</p-column>
								<p-column header="Actions" styleClass="col-button">
									<template let-archievedLosts="rowData" class="pull-right" pTemplate="body">
										<a type="button" class="btn-underline" (click)="viewLostFound(archievedLosts)">View</a>
									</template>
								</p-column>
							</p-dataTable>
						</tab>
						<tab heading="Found">
							<p-dataTable [value]="archievedFounds" [rows]="10" [paginator]="true">
								<p-column field="serial_number" header="S/N" >
									<template let-archievedFounds="rowData" pTemplate="body">
										<span>#{{archievedFounds.serial_number}}</span>
									</template>
								</p-column>
								<p-column header="Made by">
									<template let-archievedFounds="rowData" pTemplate="body">
										<span>{{archievedFounds.created_by.username | capitalize}}</span>
									</template>
								</p-column>
								<p-column field="unit_no" header="Unit.no"></p-column>
								<p-column header="Type" field="type" sortable="true">
									<template let-archievedFounds="rowData" pTemplate="body">
										<span>{{archievedFounds.type | capitalize}}</span>
									</template>
								</p-column>
								<p-column field="description" header="Description"></p-column>
								<p-column header="Photo">
									<template let-archievedFounds="rowData" pTemplate="body">
										<span *ngIf="archievedFounds.photo">Yes</span>
										<span *ngIf="!archievedFounds.photo">No</span>
									</template>
								</p-column>
								<p-column header="Preferred method of contact" field="preferred_method_of_contact" sortable="true">
									<template let-archievedFounds="rowData" pTemplate="body">
										<span>{{archievedFounds.preferred_method_of_contact | capitalize}}</span>
									</template>
								</p-column>
								<p-column header="Reported on" field="created_at" sortable="true">
									<template let-archievedFounds="rowData" pTemplate="body">
										<span>{{archievedFounds.created_at | date:'d/M/y'}}</span>
									</template>
								</p-column>
								<p-column header="Actions" styleClass="col-button">
									<template let-archievedFounds="rowData" class="pull-right" pTemplate="body">
										<a type="button" class="btn-underline" (click)="viewLostFound(archievedFounds)">View</a>
									</template>
								</p-column>
							</p-dataTable>
						</tab>
					</tabset>
				</div>
			</div>
		</div>
	</div>
</div>
