<nav class="navbar-component">
	<div class="container">
		<div class="navbar-header">
      		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        	Menu<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
	        	<span class="icon-bar"></span>
      		</button>		
    	</div>
     	<div class="collapse navbar-collapse" id="myNavbar">
     		<span *ngIf="name">
			    <ul class="nav nav-nav nav-justified">
			      	<li *ngFor="let menu of menus" [class.dropdown]="menu.sub" class="active" >
			      		<a routerLinkActive="active" *ngIf="menu.link" (click)="start()" [routerLink]="['/' + name.default_development.name_url + menu.link]" [class.dropdown-toggle]="menu.sub"
			      			data-toggle="dropdown">
			      			<strong>{{ menu.name }}</strong><span class="caret" *ngIf="menu.sub"></span>
			      		</a>
			      		<a routerLinkActive="active" style="cursor:pointer" *ngIf="!menu.link" [class.dropdown-toggle]="menu.sub"
			      			data-toggle="dropdown">
			      			<strong>{{ menu.name }}</strong><span class="caret" *ngIf="menu.sub"></span>
			      		</a>
			      		<ul *ngIf="menu.sub" class="dropdown-menu">
				          <li>
				          	<a *ngFor="let sub of menu.sub" (click)="start()" [routerLink]="[name.default_development.name_url + sub.link]"><strong>{{ sub.name }}</strong></a>
				          </li>
				        </ul>
			      	</li>
				</ul>
			</span>
	 	</div>
	</div>
</nav>