<div class="container">
    <div class="main">	
    	<div *ngIf="models">
    		<div *ngFor="let a of models">
    			<ul>
    				<li>{{a.todoMessage}}</li>
    			</ul>
    		</div>
    	</div>
    	<simple-notifications [options]="options" (onCreate)="created($event)" ></simple-notifications>
    	<button class="btn btn-primary" (click)="clicknotiv()">Notif bro</button>

    	<!-- <div popover="content to be shown in the popover"
		     popoverTitle="Popover header"
		     popoverPlacement="top"
		     [popoverOnHover]="false"
		     [popoverCloseOnClickOutside]="true"
		     [popoverCloseOnMouseOutside]="false"
		     [popoverDisabled]="false"
		     [popoverAnimation]="true"
		     [popoverDismissTimeout]="1000">
		    element on which this popover is applied.
		</div> -->

		<!-- <popover-content #myPopover 
                title="Popover title" 
                [animation]="true" 
                [closeOnClickOutside]="true" >
		    <b>Very</b> <span style="color: #C21F39">Dynamic</span> <span style="color: #00b3ee">Reusable</span>
		    <b><i><span style="color: #ffc520">Popover With</span></i></b> <small>Html support</small>.
		</popover-content>

		<button [popover]="myPopover">element on which this popover is applied.</button> -->



		<p-schedule [events]="events" [editable]="true" (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)"></p-schedule>
		<p-dialog header="Event Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false">
		    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
		        <div class="ui-grid-row">
		            <div class="ui-grid-col-4"><label for="vin">Title</label></div>
		            <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="event.title" /></div>
		        </div>
		        <div class="ui-grid-row">
		            <div class="ui-grid-col-4"><label for="start">Start</label></div>
		            <div class="ui-grid-col-8"><p-inputMask id="start" mask="9999-99-99" [(ngModel)]="event.start" placeholder="99/99/9999" slotChar="yyyy-mm-dd"></p-inputMask></div>
		        </div>
		        <div class="ui-grid-row">
		            <div class="ui-grid-col-4"><label for="end">End</label></div>
		            <div class="ui-grid-col-8"><p-inputMask id="end" mask="9999-99-99" [(ngModel)]="event.end" placeholder="Optional" slotChar="yyyy-mm-dd"></p-inputMask></div>
		        </div>
		        <div class="ui-grid-row">
		            <div class="ui-grid-col-4"><label for="allday">All Day</label></div>
		            <div class="ui-grid-col-8"><p-checkbox [(ngModel)]="event.allDay" binary="binary"></p-checkbox></div>
		        </div>
		    </div>
		    <footer>
		        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
		            <button type="button" pButton icon="fa-close" (click)="deleteEvent()" label="Delete">Delete</button>
		            <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save">Save</button>
		        </div>
		    </footer>
		</p-dialog>

		<input type="file" (change)="fileChange($event)" placeholder="Upload files" multiple>
		
		<form class="form-horizontal col-md-6" name="form" (ngSubmit)="f.form.valid && uploader.uploadAll() || upload()" #f="ngForm" novalidate enctype="multipart/form-data">
			<div class="form-group" >
			    <label class="control-label col-sm-4" for="attachment">Attachment :</label>
			    <div class="col-sm-8">
			        <input type="file" name="single" ng2FileSelect [uploader]="uploader" multiple /> 

			        
			    </div>
			    <div class="col-sm-8">

			        <input type="file" multiple (change)="fileChangeEvent($event)" />
			        
			    </div>

			    <div class="col-sm-8">

			        <input type="file" class="upload" multiple name="attachment" (change)="onChange($event)" />
			        <table class="table">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of model.attachment; let i=index ">
                    <td><strong>{{ item.name }}_{{item.size/1024}}kb</strong></td>
                    <td nowrap>
                        <button type="button" class="btn btn-danger btn-xs"
                                (click)="remove(i)">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
			    </div>
			</div>
			<div class="form-group pull-right">
		         <button [disabled]="loading" class="btn btn-primary">Save</button>
		         <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
		         <a [routerLink]="['/newsletter']" class="btn btn-info">Cancel</a>
		     </div>
		</form>

		<img [src]="src" [hidden]="!src"><br>
      	<!-- <input multiple type="file" (change)="onChange($event)" image-upload
        (imageSelected)="selected($event)"
        [resizeOptions]="resizeOptions"> -->


		<!-- Gunama -->


		<!-- <div style="width: 300px; margin-bottom: 20px;">
		  <h3>Select multiple cities</h3>
		  <ng-select (data)="value"
		              [multiple]="true"
		              [items]="items"
		              [disabled]="disabled"
		              (data)="refreshValue($event)"
		              (selected)="selected($event)"
		              (removed)="removed($event)"
		              placeholder="No city selected"></ng-select>
		  <pre>{{itemsToString(value)}}</pre>
		  <div>
		    <button type="button" class="btn btn-primary"
		            [(ngModel)]="disabledV" btnCheckbox
		            btnCheckboxTrue="1" btnCheckboxFalse="0">
		      {{disabled === '1' ? 'Enable' : 'Disable'}}
		    </button>
		  </div>
		</div> -->

		<!-- <ng-select
		    [multiple]="true"
		    [options]="myOptions"
		    [(ngModel)]="mySelectValue">
		    placeholder="Select multiple"ss
		    (opened)="onMultipleOpened()"
        	(closed)="onMultipleClosed()"
		    (selected)="onMultipleSelected($event)"
        	(deselected)="onMultipleDeselected($event)">
		</ng-select>
		<div style="margin:10px 0 20px 0;color:#666;font-size:11pt;font-style:italic;">
	    	Selected option id: {{form.value['selectMultiple']}}
    	</div> -->

    	<!-- <ng-select
		  [options]="myOptions"
		  [multiple]="true"
		  placeholder="Select one"
		  [(ngModel)]="mySelectValue">
		</ng-select> -->

		<!-- <div style="margin:10px 0 20px 0;color:#666;font-size:11pt;font-style:italic;">
			Selected option id: {{mySelectValue}}
		</div> -->
		<!--********************************************-->

		<!-- <modal  title="Modal title"
        cancelButtonLabel="cancel"
        submitButtonLabel="submit"
        modalClass="modal-lg modal-sm any-other-css-class"
        [hideCloseButton]="true|false"
        [closeOnEscape]="true|false"
        [closeOnOutsideClick]="true|false"
        (onOpen)="actionOnOpen()"
        (onClose)="actionOnClose()"
        (onSubmit)="actionOnSubmit()">

    <modal-header>
        Modal header content goes there.
    </modal-header>

    <modal-content>
        Modal body content goes there.
    </modal-content>

    <modal-footer>
        Modal footer content goes there.
    </modal-footer>

		</modal> -->

		<!-- <div class="row">
    <button (click)="myModal.open()">open my modal</button>
    <modal #myModal>
        <modal-header>
            <h1>Modal header</h1>
        </modal-header>
        <modal-content>
            Hello Modal!
        </modal-content>
        <modal-footer>
            <button class="btn btn-primary" (click)="myModal.close()">close</button>
        </modal-footer>
    </modal>
		</div> -->
		<!-- <signaturepad></signaturepad> -->
	</div>
</div>