<loading *ngIf="loading"></loading> 
<div class="container">
	<div class="main">
		<div class="title">
			USER GROUP
		</div>
		<p class="id-location">Home > User Group</p>
		<div class="row top-block">
			<div class="col-md-4 pull-right">
				<button class="btn btn-default btn-add pull-right" (click)="add()"><img class="img-btn" src="../../assets/image/icon_add.png" />&nbsp;Create User Group</button>
			</div>
		</div>
		<div (click)="$event.preventDefault()">

			<p-dataTable [value]="usergroups" [rows]="10" [paginator]="true">
				<p-column field="description" header="Description" sortable="true" [filter]="true" filterPlaceholder="Search description">
					<template let-usergroups="rowData" pTemplate="body">
						<span>{{usergroups.description | capitalize }},</span>
					</template>
				</p-column>
				<p-column field="chief.username" header="Chief" sortable="true" [filter]="true" filterPlaceholder="Search Chief">
					<template let-usergroups="rowData" pTemplate="body">
						<span>{{usergroups.chief.username | capitalize }}</span>
					</template>
				</p-column>
				<p-column field="users" header="Users" sortable="true">
					<template let-usergroups="rowData" pTemplate="body">
						<span *ngFor="let t of usergroups.users">{{t.username + ', ' | capitalize}}</span>
					</template>
				</p-column>
				<p-column [style]="{'width':'80px'}" header="Action" styleClass="col-button">
					<template let-usergroups="rowData" pTemplate="body">
						<!-- <button type="button" (click)="editUserGroup(usergroups)">Edit</button> -->
						<button  type="button" class="btn btn-trash" (click)="deleteConfirmation(usergroups)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
					</template>
				</p-column>
			</p-dataTable>

		</div>
	</div>
</div>
